	<section class="vc_row pt-50 pb-50">
				<div class="container">
					<div class="row">
						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<div class="lqd-column col-md-6 masonry-item">

										<article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
	
											<figure class="liquid-lp-media round" data-responsive-bg="true">
												<a href="#">
													<img src="./assets/demo/blog/blog-9.jpg" alt="Lates Post">
												</a>
											</figure>
	
											<div class="liquid-blog-item-inner round">
	
												<a href="#" class="liquid-overlay-link">Common PayPal and credit card issues</a>
											
												<header class="liquid-lp-header mt-auto">
													<div class="liquid-lp-details">
														<ul class="liquid-lp-category text-uppercase ltr-sp-175 font-weight-bold">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
													<h2 class="liquid-lp-title font-weight-bold h3 mb-0">
														<a href="#">Common PayPal and credit card issues</a>
													</h2>
												</header>
	
											</div><!-- /.liquid-blog-item-inner -->
	
										</article>
	
									</div><!-- /.col-md-6 -->
		
									<div class="lqd-column col-md-3 col-sm-6 masonry-item">
	
										<article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
	
											<figure class="liquid-lp-media round" data-responsive-bg="true">
												<a href="#">
													<img src="./assets/demo/blog/blog-10.jpg" alt="Lates Post">
												</a>
											</figure>
	
											<div class="liquid-blog-item-inner round">
	
												<a href="#" class="liquid-overlay-link">Common PayPal and credit card issues</a>
											
												<header class="liquid-lp-header mt-auto">
													<div class="liquid-lp-details">
														<ul class="liquid-lp-category text-uppercase ltr-sp-175 font-weight-bold">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
													<h2 class="liquid-lp-title font-weight-bold h3 mb-0">
														<a href="#">Common PayPal and credit card issues</a>
													</h2>
												</header>
	
											</div><!-- /.liquid-blog-item-inner -->
	
										</article>
	
									</div><!-- /.col-md-3 -->
		
									<div class="lqd-column col-md-3 col-sm-6 masonry-item">
	
										<article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
	
											<figure class="liquid-lp-media round" data-responsive-bg="true">
												<a href="#">
													<img src="./assets/demo/blog/blog-11.jpg" alt="Lates Post">
												</a>
											</figure>
	
											<div class="liquid-blog-item-inner round">
	
												<a href="#" class="liquid-overlay-link">Common PayPal and credit card issues</a>
											
												<header class="liquid-lp-header mt-auto">
													<div class="liquid-lp-details">
														<ul class="liquid-lp-category text-uppercase ltr-sp-175 font-weight-bold">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
													<h2 class="liquid-lp-title font-weight-bold h3 mb-0">
														<a href="#">Common PayPal and credit card issues</a>
													</h2>
												</header>
	
											</div><!-- /.liquid-blog-item-inner -->
	
										</article>
	
									</div><!-- /.col-md-3 -->
		
									<div class="lqd-column col-md-3 col-sm-6 masonry-item">
	
										<article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
	
											<figure class="liquid-lp-media round" data-responsive-bg="true">
												<a href="#">
													<img src="./assets/demo/blog/blog-12.jpg" alt="Lates Post">
												</a>
											</figure>
	
											<div class="liquid-blog-item-inner round">
	
												<a href="#" class="liquid-overlay-link">Common PayPal and credit card issues</a>
											
												<header class="liquid-lp-header mt-auto">
													<div class="liquid-lp-details">
														<ul class="liquid-lp-category text-uppercase ltr-sp-175 font-weight-bold">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
													<h2 class="liquid-lp-title font-weight-bold h3 mb-0">
														<a href="#">Common PayPal and credit card issues</a>
													</h2>
												</header>
	
											</div><!-- /.liquid-blog-item-inner -->
	
										</article>
	
									</div><!-- /.col-md-3 -->
		
									<div class="lqd-column col-md-3 col-sm-6 masonry-item">
	
										<article class="liquid-lp liquid-blog-item liquid-blog-contents-inside liquid-blog-item-square liquid-blog-scheme-light round h-450">
	
											<figure class="liquid-lp-media round" data-responsive-bg="true">
												<a href="#">
													<img src="./assets/demo/blog/blog-13.jpg" alt="Lates Post">
												</a>
											</figure>
	
											<div class="liquid-blog-item-inner round">
	
												<a href="#" class="liquid-overlay-link">Common PayPal and credit card issues</a>
											
												<header class="liquid-lp-header mt-auto">
													<div class="liquid-lp-details">
														<ul class="liquid-lp-category text-uppercase ltr-sp-175 font-weight-bold">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
													<h2 class="liquid-lp-title font-weight-bold h3 mb-0">
														<a href="#">Common PayPal and credit card issues</a>
													</h2>
												</header>
	
											</div><!-- /.liquid-blog-item-inner -->
	
										</article>
	
									</div><!-- /.col-md-3 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			