<section class="vc_row pt-80 pb-80" id="blog">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-8 col-md-offset-2">

						<header class="fancy-title text-center px-md-7 mb-70">
							<h2 class="title h1 mb-4">Latest Posts.</h2>
						</header>

					</div><!-- /.col-md-8 col-md-offset-2 -->

					<div class="row">

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-grid liquid-blog-style-square row mx-0" data-liquid-masonry="true">

								<div class="lqd-column col-md-4 masonry-item px-0">

									<article class="liquid-lp liquid-lp liquid-blog-item liquid-blog-item-gray liquid-blog-scheme-dark">

										<div class="liquid-blog-item-inner">

											<a href="#" class="liquid-overlay-link">Anything is possible in this world!</a>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title font-weight-normal mb-1">
													<a href="#">Anything is possible in this world!</a>
												</h2>
											</header>

											<div class="liquid-lp-excerpt">
												<p>“Success is the result of perfection, hard work, learning from failure, loyalty, and persistence” Colin Powell Let me</p>
											</div><!-- /.latest-post-excerptc -->

											<footer class="liquid-lp-footer">
												<div class="ld-post-author">
													<figure>
														<img class="circle" src="./assets/demo/testimonials/testi-2.png" alt="Suke Alex">
													</figure>
													<div class="ld-author-info">
														<time class="liquid-lp-date text-uppercase ltr-sp-1 my-0" datetime="2019-09-18">Sep, 18</time>
														<h5 class="text-uppercase ltr-sp-2 my-0">Suke Alex</h5>
													</div><!-- /.ld-author-info -->
												</div>
											</footer>

										</div><!-- /.liquid-blog-item-inner -->

									</article>

								</div><!-- /.col-md-4 -->
	
								<div class="lqd-column col-md-4 masonry-item px-0">

									<article class="liquid-lp liquid-lp liquid-blog-item liquid-blog-item-gray liquid-blog-scheme-dark">

										<div class="liquid-blog-item-inner">

											<a href="#" class="liquid-overlay-link">Helen Keller: A teller and a seller</a>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title font-weight-normal mb-1">
													<a href="#">Helen Keller: A teller and a seller</a>
												</h2>
											</header>

											<div class="liquid-lp-excerpt">
												<p>Never ever think of giving up. Winners never quit and quitters never win. Take all negative words out.</p>
											</div><!-- /.latest-post-excerptc -->

											<footer class="liquid-lp-footer">
												<div class="ld-post-author">
													<figure>
														<img class="circle" src="./assets/demo/testimonials/testi-2.png" alt="Suke Alex">
													</figure>
													<div class="ld-author-info">
														<time class="liquid-lp-date text-uppercase ltr-sp-1 my-0" datetime="2019-09-18">Sep, 18</time>
														<h5 class="text-uppercase ltr-sp-2 my-0">Suke Alex</h5>
													</div><!-- /.ld-author-info -->
												</div>
											</footer>

										</div><!-- /.liquid-blog-item-inner -->

									</article>

								</div><!-- /.col-md-4 -->
	
								<div class="lqd-column col-md-4 masonry-item px-0">

									<article class="liquid-lp liquid-lp liquid-blog-item liquid-blog-item-gray liquid-blog-scheme-dark">

										<div class="liquid-blog-item-inner">

											<a href="#" class="liquid-overlay-link">Next-generation site builder</a>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title font-weight-normal mb-1">
													<a href="#">Next-generation site builder</a>
												</h2>
											</header>

											<div class="liquid-lp-excerpt">
												<p>The goal of every tourist booking is to turn potential leads into guests.</p>
											</div><!-- /.latest-post-excerptc -->

											<footer class="liquid-lp-footer">
												<div class="ld-post-author">
													<figure>
														<img class="circle" src="./assets/demo/testimonials/testi-2.png" alt="Suke Alex">
													</figure>
													<div class="ld-author-info">
														<time class="liquid-lp-date text-uppercase ltr-sp-1 my-0" datetime="2019-09-18">Sep, 18</time>
														<h5 class="text-uppercase ltr-sp-2 my-0">Suke Alex</h5>
													</div><!-- /.ld-author-info -->
												</div>
											</footer>

										</div><!-- /.liquid-blog-item-inner -->

									</article>

								</div><!-- /.col-md-4 -->
								
							</div><!-- /.row -->

						</div><!-- /.col-md-12 -->

					</div><!-- /.row -->
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>