
			
			
		
		

			

		
			
			
		

			<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title">
								<h2>Classic - Full</h2>
							</header>

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-8">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid liquid-blog-style-classic row">

									<div class="lqd-column col-md-12">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-8.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Business meeting 2017 in San Francisco</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Business meeting 2017 in San Francisco</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>

									</div><!-- /.lqd-column col-md-12 -->

									<div class="lqd-column col-md-12">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-22.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Business meeting 2017 in San Francisco</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Business meeting 2017 in San Francisco</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>

									</div><!-- /.lqd-column col-md-12 -->

									<div class="lqd-column col-md-12">

										<article class="liquid-lp liquid-blog-item liquid-blog-item-grid liquid-blog-scheme-dark">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-23.jpg" alt="Lates Post">
												</a>
											</figure>
											
											<div class="liquid-blog-item-inner">
												
												<a href="#" class="liquid-overlay-link">Business meeting 2017 in San Francisco</a>
										
												<header class="liquid-lp-header">
													<h2 class="liquid-lp-title font-weight-bold h3 size-sm">
														<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Business meeting 2017 in San Francisco</a>
													</h2>
													<div class="liquid-lp-details">
														<time class="liquid-lp-date" datetime="2017-09-25">5 hours ago</time>
														in
														<ul class="liquid-lp-category">
															<li><a href="#">Business</a></li>
														</ul>
													</div><!-- /.liquid-lp-details -->
												</header>
												
												<div class="liquid-lp-excerpt">
													<p>One of my favourite things I like to watch is the bloopers and outtakes that are shown of mistakes made during the making of a movie.</p>
												</div><!-- /.latest-post-excerptc -->
												
												<footer class="liquid-lp-footer">
													<a href="#" class="btn btn-naked text-uppercase ltr-sp-1 size-sm font-weight-bold liquid-lp-read-more">
														<span>
															<span class="btn-line btn-line-before"></span>
															<span class="btn-txt">Continue Reading</span>
															<span class="btn-line btn-line-after"></span>
														</span>
													</a>
												</footer>
												
											</div><!-- /.liquid-blog-item-inner -->
											
										</article>

									</div><!-- /.lqd-column col-md-12 -->

								</div><!-- /.liquid-blog-grid -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-8 -->

					</div><!-- /.row -->
				</div><!-- /.container-fluid -->

			</section>
		