<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title">
								<h2>Classic bold</h2>
							</header><!-- /.fancy-title -->

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-8.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<ul class="liquid-lp-category">
													<li><a href="#">News</a></li>
												</ul>
												<h2 class="liquid-lp-title h5 text-uppercase font-weight-bold"><a href="#">Business meeting 2017 in san francisco</a></h2>
												<time class="liquid-lp-date font-style-italic" datetime="2017-09-25">25 Sep, 2017</time>
											</header>
										
										</article>

									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-9.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<ul class="liquid-lp-category">
													<li><a href="#">News</a></li>
												</ul>
												<h2 class="liquid-lp-title h5 text-uppercase font-weight-bold"><a href="#">Business meeting 2017 in san francisco</a></h2>
												<time class="liquid-lp-date font-style-italic" datetime="2017-09-25">25 Sep, 2017</time>
											</header>
										
										</article>

									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-10.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<ul class="liquid-lp-category">
													<li><a href="#">News</a></li>
												</ul>
												<h2 class="liquid-lp-title h5 text-uppercase font-weight-bold"><a href="#">Combing hair 10 tips for proper hair combing</a></h2>
												<time class="liquid-lp-date font-style-italic" datetime="2017-09-25">25 Sep, 2017</time>
											</header>
										
										</article>

									</div><!-- /.col-md-4 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>