<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title">
								<h2>Text – Date</h2>
							</header><!-- /.fancy-title -->

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<div class="lqd-column col-md-6 masonry-item">

										<article class="liquid-lp liquid-lp-time-aside">

											<time class="liquid-lp-date" datetime="2017-09-25"><span>25</span>Dec</time>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h5"><a href="#">Immigration minister pledges to avoid EU labour 'cliff edge'</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>There will be no “cliff edge” for EU construction workers living and working in the UK after Brexit, the immigration minister has said.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
										
												<div class="liquid-lp-meta">
										
													<a href="#">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8">
															<path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path>
															<path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path>
														</svg>
														admin
													</a>
													<div>
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="14" stroke="#a7a9b8">
															<polygon fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="23,23 1,23 1,1 9,1 12,5 23,5 " transform="translate(0, 0)" stroke-linejoin="miter"></polygon>
														</svg>
														<ul class="liquid-lp-category size-sm">
															<li><a href="#">Business</a></li>
															<li><a href="#">Another</a></li>
														</ul>
													</div>
										
												</div><!-- /.liquid-lp-meta -->
										
											</footer>
										
										</article>

									</div><!-- /.col-md-6 -->

									<div class="lqd-column col-md-6 masonry-item">

										<article class="liquid-lp liquid-lp-time-aside">

											<time class="liquid-lp-date" datetime="2017-09-25"><span>25</span>Dec</time>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h5"><a href="#">Immigration minister pledges to avoid EU labour 'cliff edge'</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>There will be no “cliff edge” for EU construction workers living and working in the UK after Brexit, the immigration minister has said.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
										
												<div class="liquid-lp-meta">
										
													<a href="#">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8">
															<path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path>
															<path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path>
														</svg>
														admin
													</a>
													<div>
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="14" stroke="#a7a9b8">
															<polygon fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="23,23 1,23 1,1 9,1 12,5 23,5 " transform="translate(0, 0)" stroke-linejoin="miter"></polygon>
														</svg>
														<ul class="liquid-lp-category size-sm">
															<li><a href="#">Business</a></li>
															<li><a href="#">Another</a></li>
														</ul>
													</div>
										
												</div><!-- /.liquid-lp-meta -->
										
											</footer>
										
										</article>

									</div><!-- /.col-md-6 -->

									<div class="lqd-column col-md-6 masonry-item">

										<article class="liquid-lp liquid-lp-time-aside">

											<time class="liquid-lp-date" datetime="2017-09-25"><span>25</span>Dec</time>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h5"><a href="#">Immigration minister pledges to avoid EU labour 'cliff edge'</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>There will be no “cliff edge” for EU construction workers living and working in the UK after Brexit, the immigration minister has said.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
										
												<div class="liquid-lp-meta">
										
													<a href="#">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8">
															<path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path>
															<path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path>
														</svg>
														admin
													</a>
													<div>
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="14" stroke="#a7a9b8">
															<polygon fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="23,23 1,23 1,1 9,1 12,5 23,5 " transform="translate(0, 0)" stroke-linejoin="miter"></polygon>
														</svg>
														<ul class="liquid-lp-category size-sm">
															<li><a href="#">Business</a></li>
															<li><a href="#">Another</a></li>
														</ul>
													</div>
										
												</div><!-- /.liquid-lp-meta -->
										
											</footer>
										
										</article>

									</div><!-- /.col-md-6 -->

									<div class="lqd-column col-md-6 masonry-item">

										<article class="liquid-lp liquid-lp-time-aside">

											<time class="liquid-lp-date" datetime="2017-09-25"><span>25</span>Dec</time>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h5"><a href="#">Immigration minister pledges to avoid EU labour 'cliff edge'</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>There will be no “cliff edge” for EU construction workers living and working in the UK after Brexit, the immigration minister has said.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
										
												<div class="liquid-lp-meta">
										
													<a href="#">
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="12" stroke="#a7a9b8">
															<path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M12,12L12,12 c-2.761,0-5-2.239-5-5V6c0-2.761,2.239-5,5-5h0c2.761,0,5,2.239,5,5v1C17,9.761,14.761,12,12,12z" stroke-linejoin="miter"></path>
															<path data-color="color-2" fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M22,20.908 c0-1.8-1.197-3.383-2.934-3.856C17.172,16.535,14.586,16,12,16s-5.172,0.535-7.066,1.052C3.197,17.525,2,19.108,2,20.908V23h20 V20.908z" stroke-linejoin="miter"></path>
														</svg>
														admin
													</a>
													<div>
														<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="14" stroke="#a7a9b8">
															<polygon fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="23,23 1,23 1,1 9,1 12,5 23,5 " transform="translate(0, 0)" stroke-linejoin="miter"></polygon>
														</svg>
														<ul class="liquid-lp-category size-sm">
															<li><a href="#">Business</a></li>
															<li><a href="#">Another</a></li>
														</ul>
													</div>
										
												</div><!-- /.liquid-lp-meta -->
										
											</footer>
										
										</article>

									</div><!-- /.col-md-6 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			<section class="vc_row pt-100 pb-50 bg-gray">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title">
								<h2>Metro</h2>
							</header><!-- /.fancy-title -->

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="liquid-lp-gradient" width="0" height="0">
										<defs>
											<linearGradient id="liquid-lp-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
												<stop offset="0%" />
												<stop offset="100%" />
											</linearGradient>
										</defs>
									</svg>
									
									<div class="lqd-column col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0 masonry-item">
										
										<article class="liquid-lp liquid-lp-sp-block liquid-lp-featured">
								
											<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-11.jpg);">
												<img src="./assets/demo/latest-posts/lp-11.jpg" alt="Latest Post">
											</figure>
											
											<div class="liquid-lp-inner">
												
												<a href="#" class="liquid-overlay-link"></a>
												
												<header class="liquid-lp-header">
													<ul class="liquid-lp-category bordered square">
														<li>
															<a href="#">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="liquid-lp-gradient-border" width="100%" height="100%">
																	<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-1)"/>
																</svg>
																<span>Training</span>
															</a>
														</li>
													</ul>
													<h2 class="liquid-lp-title h5 font-weight-bold"><a href="#">You can only claim to be fit if you pass these 7 tests</a></h2>
												</header>
												
												<footer class="liquid-lp-footer">
													
													<time class="liquid-lp-date text-uppercase ltr-sp-1" datetime="2017-09-25">15 Nov, 2017</time>
													
												</footer>
								
											</div><!-- /.liquid-lp-inner -->
											
										</article>
										
									</div><!-- /.col-md-10 -->
									
									<div class="lqd-column col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0 masonry-item">
										
										<article class="liquid-lp liquid-lp-sp-block">
								
											<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-12.jpg);">
												<img src="./assets/demo/latest-posts/lp-12.jpg" alt="Latest Post">
											</figure>
											
											<div class="liquid-lp-inner">
												
												<header class="liquid-lp-header">
													<ul class="liquid-lp-category bordered square">
														<li>
															<a href="#">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="liquid-lp-gradient-border" width="100%" height="100%">
																	<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-1)"/>
																</svg>
																<span>News</span>
															</a>
														</li>
														<li>
															<a href="#">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="liquid-lp-gradient-border" width="100%" height="100%">
																	<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-1)"/>
																</svg>
																<span>Training</span>
															</a>
														</li>
													</ul>
													<h2 class="liquid-lp-title h5 font-weight-bold"><a href="#">Meet George, our November Gym Hero</a></h2>
												</header>
								
												<div class="liquid-lp-excerpt">
													<p>See what George done and his suggestions for you</p>
												</div><!-- /.liquid-lp-excerpt -->
												
												<footer class="liquid-lp-footer">
													
													<time class="liquid-lp-date text-uppercase ltr-sp-1" datetime="2017-09-25">15 Nov, 2017</time>
													
												</footer>
								
											</div><!-- /.liquid-lp-inner -->
											
										</article>
										
									</div><!-- /.col-md-10 -->
									
									<div class="lqd-column col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0 masonry-item">
										
										<article class="liquid-lp liquid-lp-sp-block liquid-lp-reverse">
								
											<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-12.jpg);">
												<img src="./assets/demo/latest-posts/lp-12.jpg" alt="Latest Post">
											</figure>
											
											<div class="liquid-lp-inner">
												
												<header class="liquid-lp-header">
													<ul class="liquid-lp-category bordered square">
														<li>
															<a href="#">
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="liquid-lp-gradient-border" width="100%" height="100%">
																	<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-1)"/>
																</svg>
																<span>News</span>
															</a>
														</li>
													</ul>
													<h2 class="liquid-lp-title h5 font-weight-bold"><a href="#">Meet George, our November Gym Hero</a></h2>
												</header>
								
												<div class="liquid-lp-excerpt">
													<p>See what George done and his suggestions for you</p>
												</div><!-- /.liquid-lp-excerpt -->
												
												<footer class="liquid-lp-footer">
													
													<time class="liquid-lp-date text-uppercase ltr-sp-1" datetime="2017-09-25">15 Nov, 2017</time>
													
												</footer>
								
											</div><!-- /.liquid-lp-inner -->
											
										</article>
										
									</div><!-- /.col-md-10 -->
									
									<div class="lqd-column col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0 masonry-item">
										
										<article class="liquid-lp liquid-lp-sp-block liquid-lp-sp-instagram">
								
											<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-13.jpg);">
												<img src="./assets/demo/latest-posts/lp-13.jpg" alt="Latest Post">
											</figure>
											
											<div class="liquid-lp-inner">
								
												<a href="#" class="liquid-overlay-link"></a>				
												
												<header class="liquid-lp-header">
													<span class="liquid-lp-extra-icon">
														<a href="#"><i class="fa fa-instagram"></i></a>
													</span>
													<ul class="liquid-lp-category bordered square">
														<li>
															<a href="#">Training</a>
														</li>
													</ul>
												</header>
								
												<h3><a href="#">Everyday we share our favorite <strong>#onegym</strong> instagram photos</a></h3>
								
											</div><!-- /.liquid-lp-inner -->
											
										</article>
										
									</div><!-- /.col-md-10 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
