
			<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid liquid-blog-style-carousel row">

									<div class="carousel-container carousel-nav-circle carousel-nav-bordered carousel-nav-sm">
		
										<header class="fancy-title" id="carousel-nav-container-1">
											<h2 class="font-weight-bold">Featured Articles</h2>
										</header>
		
										<div class="carousel-items row" data-lqd-flickity='{ "equalHeightCells": true, "fullwidthSide": true, "prevNextButtons": true, "navArrow": 6, "buttonsAppendTo": "#carousel-nav-container-1" }'>
											
											<div class="lqd-column carousel-item col-lg-8 col-md-6 col-sm-12">
												
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-19.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-19.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">In Granada, Spain, the Tapas bar scene gets fresh life</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>In Granada, Spain, the Tapas bar scene gets fresh life</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-8 -->
											
											<div class="lqd-column carousel-item col-lg-4 col-md-6 col-sm-12">
												
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-20.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-20.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">In Granada, Spain, the Tapas bar scene gets fresh life</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Choosing the right path</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-4 -->
											
											<div class="lqd-column carousel-item col-lg-8 col-md-6 col-sm-12">
												
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-21.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-21.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">Free advertising for your online business</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Free advertising for your online business</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-8 -->
											
											<div class="lqd-column carousel-item col-lg-6 col-md-6 col-sm-12">
												
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-18.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-18.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">How to excellent in a technical job interview</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>How to excellent in a technical job interview</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-6 -->
											
											<div class="lqd-column carousel-item col-lg-4 col-md-6 col-sm-12">
												
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-20.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-20.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">In Granada, Spain, the Tapas bar scene gets fresh life</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Choosing the right path</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-4 -->
											
											<div class="lqd-column carousel-item col-lg-8 col-md-6 col-sm-12">
											
												<article class="liquid-lp liquid-blog-item liquid-blog-item-carousel liquid-blog-contents-inside contents-bottom liquid-blog-scheme-light liquid-blog-scheme-light-alt h-300">

													<figure class="liquid-lp-media" style="background-image: url(./assets/demo/latest-posts/lp-21.jpg);">
														<a href="#">
															<img src="./assets/demo/latest-posts/lp-21.jpg" alt="Lates Post">
														</a>
													</figure>
												
													<div class="liquid-blog-item-inner">
												
														<a href="#" class="liquid-overlay-link">Free advertising for your online business</a>
													
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title size-lg font-weight-bold h3" data-fittext="true" data-fittext-options='{ "maxFontSize": "currentFontSize", "compressor": 0.6 }'>
																<a href="#" data-split-text="text" data-split-options='{ "type": "lines" }'>Free advertising for your online business</a>
															</h2>
															<div class="liquid-lp-details liquid-lp-details-lined size-sm text-uppercase lp-sp-1">
																<ul class="liquid-lp-category">
																	<li><a href="#">Travel</a></li>
																</ul>
																<time class="liquid-lp-date" datetime="2017-09-25">26 Sep, 2017</time>
															</div><!-- /.liquid-lp-details -->
														</header>
												
													</div><!-- /.liquid-blog-item-inner -->
												
												</article>
												
											</div><!-- /.col-lg-8 -->
											
										</div><!-- /.carousel-items -->
										
									</div><!-- /.carousel-container -->

								</div><!-- /.liquid-blog-grid -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container-fluid -->

			</section>