<section class="vc_row pt-100 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12">

							<header class="fancy-title">
								<h2>Classic</h2>
							</header><!-- /.fancy-title -->

						</div><!-- /.lqd-column col-md-12 -->

						<div class="lqd-column col-md-12">

							<div class="liquid-blog-posts">
								<div class="liquid-blog-grid row" data-liquid-masonry="true">

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-8.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h4"><a href="#">Pediatric Excellence, Year After Year</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>We're conducting a study of marijuana use during pregnancy.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
												<a href="#" class="btn btn-naked liquid-lp-read-more font-weight-bold">
													<span>
														<span class="btn-txt">Read more</span>
														<span class="btn-icon">
															<i class="fa fa-angle-right"></i>
														</span>
													</span>
												</a>
											</footer>
										
										</article>

									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-9.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h4"><a href="#">Pediatric Excellence, Year After Year</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>We're conducting a study of marijuana use during pregnancy.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
												<a href="#" class="btn btn-naked liquid-lp-read-more font-weight-bold">
													<span>
														<span class="btn-txt">Read more</span>
														<span class="btn-icon">
															<i class="fa fa-angle-right"></i>
														</span>
													</span>
												</a>
											</footer>
										
										</article>

									</div><!-- /.col-md-4 -->

									<div class="lqd-column col-md-4 masonry-item">

										<article class="liquid-lp">

											<figure class="liquid-lp-media">
												<a href="#">
													<img src="./assets/demo/latest-posts/lp-10.jpg" alt="Lates Post">
												</a>
											</figure>
										
											<header class="liquid-lp-header">
												<h2 class="liquid-lp-title h4"><a href="#">Pediatric Excellence, Year After Year</a></h2>
											</header>
										
											<div class="liquid-lp-excerpt">
												<p>We're conducting a study of marijuana use during pregnancy.</p>
											</div><!-- /.latest-post-excerptc -->
										
											<footer class="liquid-lp-footer">
												<a href="#" class="btn btn-naked liquid-lp-read-more font-weight-bold">
													<span>
														<span class="btn-txt">Read more</span>
														<span class="btn-icon">
															<i class="fa fa-angle-right"></i>
														</span>
													</span>
												</a>
											</footer>
										
										</article>

									</div><!-- /.col-md-4 -->

								</div><!-- /.liquid-blog-grid row -->
							</div><!-- /.liquid-blog-posts -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>