	<section class="vc_row pt-110 pb-75">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-default">
								
								<div class="pricing-table-header">
									
									<h5>12 Months <small>Membership</small></h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Length of Membership <strong>12 Months</strong></li>
										<li>Number of People <strong>01 Person</strong></li>
										<li>Club Access <strong>Unlimited Club Access</strong></li>
										<li>Class Access <strong>FREE Fitness Classes</strong></li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<p class="pricing">
										$299
									</p>
									
									<a href="#" class="btn btn-bordered btn-bordered-gradient border-thick text-uppercase">
										<span>
											<span class="btn-txt">Sing up today</span>
											<span class="btn-gradient-bg btn-gradient-bg-hover bg-gradient-primary-lr"></span>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
												<defs>
													<linearGradient id="btn-grad-1" x1="0%" y1="0%" x2="100%" y2="0%">
														<stop offset="0%" />
														<stop offset="100%" />
													</linearGradient>
												</defs>
												<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-1)"/>
											</svg>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
						
						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-default">
								
								<div class="pricing-table-header">
									
									<h5>Pay Monthly <small>No contract</small></h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Number of People <strong>01 Person</strong></li>
										<li>Joining Fee <strong>$30</strong></li>
										<li>No Contract <strong>Cancel Anytime</strong></li>
										<li>Class Access <strong>FREE Fitness Classes</strong></li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<p class="pricing">
										$29
										<sup>/ Monthly</sup>
									</p>
									
									<a href="#" class="btn btn-bordered btn-bordered-gradient border-thick text-uppercase">
										<span>
											<span class="btn-txt">Sing up today</span>
											<span class="btn-gradient-bg btn-gradient-bg-hover bg-gradient-primary-lr"></span>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
												<defs>
													<linearGradient id="btn-grad-2" x1="0%" y1="0%" x2="100%" y2="0%">
														<stop offset="0%" />
														<stop offset="100%" />
													</linearGradient>
												</defs>
												<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-2)"/>
											</svg>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
						
						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-default">
								
								<div class="pricing-table-header">
									
									<h5>1 day visit <small>Pay as you go</small></h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Length of Membership <strong>Try Us For a Day</strong></li>
										<li>Number of People <strong>01 Person</strong></li>
										<li>Club Access <strong>Gym Club</strong></li>
										<li>Class Access <strong>FREE Fitness Classes</strong></li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<p class="pricing">
										$9
									</p>
									
									<a href="#" class="btn btn-bordered btn-bordered-gradient border-thick text-uppercase">
										<span>
											<span class="btn-txt">Sing up today</span>
											<span class="btn-gradient-bg btn-gradient-bg-hover bg-gradient-primary-lr"></span>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
												<defs>
													<linearGradient id="btn-grad-3" x1="0%" y1="0%" x2="100%" y2="0%">
														<stop offset="0%" />
														<stop offset="100%" />
													</linearGradient>
												</defs>
												<rect x="0" y="0" rx="0" ry="0" width="100%" height="100%" stroke="url(#btn-grad-3)"/>
											</svg>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>