
			<section id="pricing" class="vc_row pt-100 pb-110 bg-light">
				<div class="container">
					
					<div class="row">

						<div class="lqd-column col-md-6 col-md-offset-3">

							<header class="fancy-title mb-70 text-center">
								<h2>Buy Ave and get access to premium plugins for free.</h2>
							</header><!-- /.fancy-title text-center -->

						</div><!-- /.col-md-6 col-md-offset-3 -->

					</div><!-- /.row -->

					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-minimal">
		
								<div class="pricing-table-header">
									
									<p class="pricing">
										<span>$</span>8<small>/mo</small>
									</p>
					
									<h5>Basic Plan</h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>200 Hand-Crafted Templates</li>
										<li>Exclusive Support</li>
										<li>50+ PreBuilt Websites</li>
										<li>Premium Plugins</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-default btn-bordered round lh-15 wide px-2 btn-light">
										<span>
											<span class="btn-txt">Join Business Plan</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-minimal">
		
								<div class="pricing-table-header">
									
									<p class="pricing">
										<span>$</span>39<small>/mo</small>
									</p>
					
									<h5>Business</h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>200 Hand-Crafted Templates</li>
										<li>Exclusive Support</li>
										<li>50+ PreBuilt Websites</li>
										<li>Premium Plugins</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-solid round lh-15 wide px-2">
										<span>
											<span class="btn-txt">Join Business Plan</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-minimal">
		
								<div class="pricing-table-header">
									
									<p class="pricing">
										<span>$</span>79<small>/mo</small>
									</p>
					
									<h5>Exclusive</h5>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>200 Hand-Crafted Templates</li>
										<li>Exclusive Support</li>
										<li>50+ PreBuilt Websites</li>
										<li>Premium Plugins</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-default btn-bordered round lh-15 wide px-2 btn-light">
										<span>
											<span class="btn-txt">Join Business Plan</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>