	<section class="vc_row pt-150 pb-75">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-colorful color-green">
								<div class="pricing-table-header">
									<h5>Standard <small>$10</small></h5>
								</div>
								<div class="pricing-table-body">
									<ul class="font-size-16">
										<li><strong>05</strong> Users Limit</li>
										<li><strong>30GB</strong> Cloud Storage</li>
										<li><strong>15</strong> Projects &amp; Tasks</li>
										<li><strong>07</strong> File Types Upload</li>
									</ul>
								</div><!-- /.pricing-table-body -->
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-colorful color-red featured">
								<div class="pricing-table-header">
									<h5>Premium <small>$20</small></h5>
								</div>
								<div class="pricing-table-body">
									<ul class="font-size-16">
										<li><strong>10</strong> Users Limit</li>
										<li><strong>100GB</strong> Cloud Storage</li>
										<li><strong>25</strong> Projects &amp; Tasks</li>
										<li><strong>10</strong> File Types Upload</li>
									</ul>
								</div><!-- /.pricing-table-body -->
								<div class="pricing-table-footer">
									<p class="featured-tag">
										<i class="fa fa-check-circle-o"></i>
										<span>Best Choice</span>
									</p>
								</div><!-- /.pricing-table-footer -->
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="pricing-table pricing-table-colorful color-blue">
								<div class="pricing-table-header">
									<h5>Enterprice <small>$30</small></h5>
								</div>
								<div class="pricing-table-body">
									<ul class="font-size-16">
										<li><strong>Unlimited</strong> Users Limit</li>
										<li><strong>500GB</strong> Cloud Storage</li>
										<li><strong>50</strong> Projects &amp; Tasks</li>
										<li><strong>50</strong> File Types Upload</li>
									</ul>
								</div><!-- /.pricing-table-body -->
							</div><!-- /.pricing-table -->

						</div><!-- /.col-md-4 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
