	<section class="vc_row pt-60 pb-60">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-modern">
								
								<div class="pricing-table-header">
									
									<h5>Business</h5>
									<p class="pricing">
										$299
										<small>Per Month</small>
									</p>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Length of Membership 12 Months</li>
										<li>Number of People 01 Person</li>
										<li>Club Access Unlimited Club Access</li>
										<li>Class Access FREE Fitness Classes</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-solid border-thick text-uppercase ltr-sp-2 round wide">
										<span>
											<span class="btn-txt">Start free tiral</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
					
						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-modern featured">
								
								<div class="pricing-table-header">
									
									<h5>Business</h5>
									<p class="pricing">
										$299
										<small>Per Month</small>
									</p>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Length of Membership 12 Months</li>
										<li>Number of People 01 Person</li>
										<li>Club Access Unlimited Club Access</li>
										<li>Class Access FREE Fitness Classes</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-solid border-thick text-uppercase ltr-sp-2 round wide">
										<span>
											<span class="btn-txt">Start free tiral</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
					
						<div class="lqd-column col-lg-4 col-md-12">
							
							<div class="pricing-table pricing-table-modern">
								
								<div class="pricing-table-header">
									
									<h5>Business</h5>
									<p class="pricing">
										$299
										<small>Per Month</small>
									</p>
									
								</div><!-- /.pricing-table-head -->
								
								<div class="pricing-table-body">
									
									<ul>
										<li>Length of Membership 12 Months</li>
										<li>Number of People 01 Person</li>
										<li>Club Access Unlimited Club Access</li>
										<li>Class Access FREE Fitness Classes</li>
									</ul>
									
								</div><!-- /.pricing-table-body -->
								
								<div class="pricing-table-footer">
									
									<a href="#" class="btn btn-md btn-solid border-thick text-uppercase ltr-sp-2 round wide">
										<span>
											<span class="btn-txt">Start free tiral</span>
										</span>
									</a>
									
								</div><!-- /.pricing-table-footer -->
								
							</div><!-- /.pricing-table -->
							
						</div><!-- /.col-lg-4 col-md-12 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>