<div class="dropdown-menu animated fadeIn" aria-labelledby="dropdownMenuButton">
    <span>{{t "Base Color"}}</span>
    <div class="color-selector-wrapper primary-colors">
        <a class="circular-selector dark" data-value="dark"></a>
        <a class="circular-selector light" data-value="light"></a>
    </div>
    <span>{{t "Accent Color"}}</span>
    <div class="color-selector-wrapper secondary-colors">
        <a class="circular-selector brown" data-value="brown"></a>
        <a class="circular-selector green" data-value="green"></a>
        <a class="circular-selector red" data-value="red"></a>
        <a class="circular-selector blue" data-value="blue"></a>
    </div>
</div>
