head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Favicon icons
  link(rel='icon' href='assets/img/logo/fav.png' type='image/png')
  // Site title
  title Delas
  // CSS Files
  // Bootstarp CSS
  link(rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css')
  // All component's and plugin's css CSS
  link(rel='stylesheet' type='text/css' href='/assets/css/plugins.css')
  // Style CSS
  link(rel='stylesheet' type='text/css' href='/assets/styles/main.css' media='all')