{{!-- Social Icons --}}
<div class="blog-description social-icons">
    <a href="http://www.facebook.com/" target="_blank"><img src="/assets/images/facebook.png"></a>
    <a href="http://www.twitter.com/" target="_blank"><img src="/assets/images/twitter.png"></a>            
    <a href="https://plus.google.com" target="_blank"><img src="/assets/images/google-plus.png"></a>	
    <a href="https://pinterest.com/" target="_blank"><img src="/assets/images/pinterest.png"></a>
    <a href="https://behance.com/" target="_blank"><img src="/assets/images/behance.png"></a>
    <a href="https://dribbble.com/" target="_blank"><img src="/assets/images/dribbble.png"></a>
    <a href="https://flickr.com/" target="_blank"><img src="/assets/images/flickr.png"></a>
    <a href="https://youtube.com/" target="_blank"><img src="/assets/images/youtube.png"></a>
</div> <!-- Social Icons End -->