// ================== Header Area =======================
header.header-area
  .container-fluid
    .row
      .col-sm-12
        .header-content
          .header-left(data-aos='fade-right')
            .logo
              h2
                a(href='index.html')
                  img(src="/assets/img/full-horizontal-white-purple.svg", width="200", alt="logo")
            .main-menu
              .menubar
                span.menubars
                  span
              .mainmenu-list
                ul
                  li.active
                    a(href='index.html') Home
                  li
                    a(href='#') Tag
                    ul
                      li
                        a(href='tag.html') Tag-1
                      li
                        a(href='tag-2.html') Tag-2
                      li
                        a(href='tag-with-bg-image.html') Tag-with-bg
                  li
                    a(href='#') Author
                    ul
                      li
                        a(href='author.html') Author-1
                      li
                        a(href='author-2.html') Author-2
                      li
                        a(href='author-bg.html') Author-bg
                  li
                    a(href='#') Portfolio
                    ul
                      li
                        a(href='portfolio.html') Portfolio-1
                      li
                        a(href='portfolio-2.html') Portfolio-2
                  li
                    a(href='style-guide.html') Styleguide
                  li
                    a(href='#') Pages
                    ul
                      li
                        a(href='about-us.html') About us
                      li
                        a(href='#') Single pages
                        ul
                          li
                            a(href='tag-single.html') Tag-Single
                          li
                            a(href='tag-single-2.html') Tag-Single-2
                          li
                            a(href='tag-single-with-bg-image.html') Tag-Single-bg
                          li
                            a(href='portfolio-single.html') Portfolio-Single
                          li
                            a(href='portfolio-single-2.html') Portfolio-Single-2
                          li
                            a(href='author-single.html') Author-Single
                          li
                            a(href='author-single-bg.html') Author-Single-bg
                          li
                            a(href='blog-single.html') Blog-Single
                          li
                            a(href='blog-single-2.html') Blog-Single-2
                      li
                        a(href='404.html') 404
                      li
                        a(href='search.html') Search
                      li
                        a(href='no-search-result-found.html') Search no result
                  li
                    a(href='#') Contact
                    ul
                      li
                        a(href='contact.html') Contact
                      li
                        a(href='contact-us-bg.html') Contact-us-with-bg
                .close-menu
                  img(alt='close' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABE0lEQVRIS6XVu5GDMBAGYP2KIHMJdx1cCXbIEFHBuQSXZFdABApxCdeB5zq4DCKtZ5kTg7Eea4sMofnY2YeEvu9PWuvvcRwPTdP8qYynbdtdWZaDtfaCruu+tNZXALcc3KFE9Gmt3YMDzMW3aF3XPzOcg/tQ9hb4HTyEPsGv4DHUC0vwFBqEY7gEjcI+nNe4T11LcfVDbf9QPN+mdSvydwmajNj9yBizV0oN/++HqqquqQFNRrzK6bwXAEkmNAqv0WmaOGpVFAWPfxIPwlvUHVC8LsG9cAh1eZXgT3AKleIPsBSV4AtsjPkA0BIRuFDSQz+UluU8BjAA+H0FjUU+3yA5aAgH33kAju9Eup0+lxYiOt8BXDFqtUpM3SEAAAAASUVORK5CYII=')
          .header-right.d-flex
            .expanded-search
              span.search-icon.search-trigger
                i.fa.fa-search
              .search-box
                span.search-close-trigger
                  img(alt='close' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAVCAYAAABCIB6VAAABE0lEQVRIS6XVu5GDMBAGYP2KIHMJdx1cCXbIEFHBuQSXZFdABApxCdeB5zq4DCKtZ5kTg7Eea4sMofnY2YeEvu9PWuvvcRwPTdP8qYynbdtdWZaDtfaCruu+tNZXALcc3KFE9Gmt3YMDzMW3aF3XPzOcg/tQ9hb4HTyEPsGv4DHUC0vwFBqEY7gEjcI+nNe4T11LcfVDbf9QPN+mdSvydwmajNj9yBizV0oN/++HqqquqQFNRrzK6bwXAEkmNAqv0WmaOGpVFAWPfxIPwlvUHVC8LsG9cAh1eZXgT3AKleIPsBSV4AtsjPkA0BIRuFDSQz+UluU8BjAA+H0FjUU+3yA5aAgH33kAju9Eup0+lxYiOt8BXDFqtUpM3SEAAAAASUVORK5CYII=')
                input#search_result(placeholder='Type anything and hit enter' type='text')
                button.search-icon(type='submit')
                  i.fa.fa-search
            ul
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
// ================== /Header Area =======================