			<header class="main-header header-fullscreen header-fullscreen-style-1 main-header-overlay">

				<div class="mainbar-wrap">
					<div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
					<div class="container-fluid mainbar-container">
						<div class="mainbar">
							<div class="row mainbar-row align-items-lg-stretch px-4">

								<div class="col">
									<div class="navbar-header">
									{{"logos"}}
										<button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse"
										 data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
											<span class="sr-only">Toggle navigation</span>
											<span class="bars">
												<span class="bar"></span>
												<span class="bar"></span>
												<span class="bar"></span>
											</span>
										</button>
									</div><!-- /.navbar-header -->
								</div><!-- /.col -->

								<div class="col text-right">

									<div class="header-module">
										<button class="nav-trigger collapsed style-1 fill-solid scheme-light txt-left main-nav-trigger" role="button"
										 type="button" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" aria-controls="main-header-collapse"
										 data-changeclassnames='{ "html": "overflow-hidden" }'>
											<span class="bars">
												<span class="bar"></span>
												<span class="bar"></span>
												<span class="bar"></span>
											</span>
											<span class="txt">Menu</span>
										</button>
									</div><!-- /.header-module -->

									<div class="collapse navbar-collapse navbar-fullscreen" id="main-header-collapse" aria-expanded="false" role="tablist">
										
										<ul class="main-nav main-nav-hover-underline-1 nav align-items-lg-stretch justify-content-lg-center main-nav-hover-underline-1 main-nav-fullscreen-style-1">
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Home</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Portfolio</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">About</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Blog</span>
													</span>
												</a>
											</li>
											<li>
												<a href="#">
													<span class="link-icon"></span>
													<span class="link-txt">
														<span class="link-ext"></span>
														<span class="txt">Contact</span>
													</span>
												</a>
											</li>
										</ul>

										<div class="header-module">
											<ul class="social-icon scheme-white social-icon-md">
												<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
											</ul>
										</div><!-- /.header-module -->

									</div><!-- /.collapse -->

								</div><!-- /.col -->

							</div><!-- /.mainbar-row -->
						</div><!-- /.mainbar -->
					</div><!-- /.mainbar-container -->
				</div><!-- /.mainbar-wrap -->

			</header><!-- /.main-header -->