<!-- PAGINATION -->
<div id="pagination">
    <div class="container">
        <div id="load-more" class="text-center page-indicator">
            {{#if next}}{{t "More Posts"}}{{else}}{{t "No more posts"}}{{/if}} <i class="fas fa-arrow-down"></i>
        </div>
    </div>
</div>
