
					<div class="lqd-particles-bg-wrap">

						<div class="ld-particles-container">
							<div
								class="ld-particles-inner"
								id="ld-particles-5"
								data-particles="true"
								data-particles-options='{"particles":{"number":{"value":"15"},"color":{"value":["#6c5ba7","#6c5ba7","#6c5ba7","#6c5ba7"]},"shape":{"type":["circle"]},"opacity":{"random":true,"anim":{"enable":true,"opacity_min":0.6,"speed":1,"sync":true}},"size":{"value":3,"random":true,"anim":{"enable":true,"size_min":2,"speed":1}},"move":{"out_mode":"out"}},"interactivity":[]}'>
							</div>
						</div>
		
					</div><!-- /.lqd-particles-bg-wrap -->