{{! SEARCH PANEL }}
<div id="search-section">
    <form class="container">
        <input autocomplete="off" ype="text" class="form form-control" id="search-field" placeholder="{{t "Search a post..."}}">
        <input type="submit" value="search" class="d-none">
        <div id="results"></div>
    </form>
    <i class="search-panel-toggle fa fa-close fas fa-times"></i>
    <i class="fas fa-spinner"></i>
</div>
