<div class="row" id="post-loop-wrapper">
    {{#foreach posts visibility="all" limit="8"}}
    <div class="row">
        	<div class="lqd-column col-lg-11 col-md-11 col-sm-12">
                            
            {{> "ui/fancy-post-card"}}
            </div>  
            </div>

   {{/foreach}}
</div>
 