<section class="vc_row pt-40 pb-40">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-6">

							<div class="ld-tm-circ mb-5 mb-md-0" data-custom-animations="true" data-ca-options='{"triggerHandler": "inview", "animationTarget": ".ld-tm-bg", "duration": 700, "delay": 100, "easing": "easeOutBack", "initValues": { "scale": 0 }, "animations": { "scale": 1 }}'>
								<div class="ld-tm-container" data-custom-animations="true" data-ca-options='{"triggerHandler": "inview", "animationTarget": ".ld-tm-avatar", "duration": 700, "delay": 150, "easing": "easeOutBack", "initValues": { "scale": 0 }, "animations": { "scale": 1 }}'>
									
									
									<div class="ld-tm-circ-inner">
										
										<div class="ld-tm-bg"></div><!-- /.ld-tm-bg -->
										<div class="ld-tm-avatar" style="top: -5%; right: 1%;">
											<figure>
												<img src="./assets/demo/team/team-12.jpg" alt="Team Member">
											</figure>
										</div><!-- /.ld-tm-avatar -->
										
									</div><!-- /.ld-tm-circ-inner -->
							
									<div class="ld-tm-circ-middle">
										
										<div class="ld-tm-bg"></div><!-- /.ld-tm-bg -->
										<div class="ld-tm-avatar" style="top: -5%; left: 20%;">
											<figure>
												<img src="./assets/demo/team/team-11.jpg" alt="Team Member">
											</figure>
										</div><!-- /.ld-tm-avatar -->
										
										<div class="ld-tm-avatar" style="bottom: 11%; left: 1%;">
											<figure>
												<img src="./assets/demo/team/team-14.jpg" alt="Team Member">
											</figure>
										</div><!-- /.ld-tm-avatar -->
										
									</div><!-- /.ld-tm-circ-middle -->
									
									<div class="ld-tm-circ-outer">
										
										<div class="ld-tm-bg"></div><!-- /.ld-tm-bg -->
										<div class="ld-tm-avatar" style="top: 30%; left: -5%;">
											<figure>
												<img src="./assets/demo/team/team-13.jpg" alt="Team Member">
											</figure>
										</div><!-- /.ld-tm-avatar -->
										
										<div class="ld-tm-avatar" style="bottom: 15%; right: 5%;">
											<figure>
												<img src="./assets/demo/team/team-15.png" alt="Team Member">
											</figure>
										</div><!-- /.ld-tm-avatar -->
										
									</div><!-- /.ld-tm-circ-outer -->
							
								</div><!-- /.ld-tm-container -->
							</div><!-- /.ld-tm-circ -->

						</div><!-- /.col-md-6 -->

						<div class="lqd-column col-md-4 col-md-offset-2" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":48,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

							<header class="fancy-title mb-40">
								<h6 class="font-size-13 text-uppercase ltr-sp-05">Meat the team</h6>
								<h2 class="mt-4 mb-4" data-split-text="true" data-split-options='{"type":"lines"}'>Complete design We are optimists who love to work <span class="text-secondary">together</span></h2>
								<p data-split-text="true" data-split-options='{"type":"lines"}'>Take your career to next level. Apply to our team and see what we can do together. You’re good enough, right ?</p>
							</header>

							<a href="#" class="btn btn-solid text-uppercase circle btn-solid border-thin btn-gradient font-size-13 font-weight-bold ltr-sp-1 px-2 color-secondary">
								<span>
									<span class="btn-gradient-bg"></span>
									<span class="btn-txt">Join the team</span>
									<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="btn-gradient-border" width="100%" height="100%">
										<defs>
											<linearGradient id="svg-border-5c580d72262d1" x1="0%" y1="0%" x2="100%" y2="0%">
												<stop offset="0%" style="stop-color: #6c5ba7"></stop>
												<stop offset="100%" style="stop-color: #4fda91;"></stop>
											</linearGradient>
										</defs>
										<rect x="0.5" y="0.5" rx="28.5" ry="28.5" width="100%" height="100%" stroke="url(#svg-border-5c580d72262d1)"></rect>
									</svg>
								</span>
							</a>

						</div><!-- /.col-md-4 col-md-offset-2 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>