
			<section class="vc_row pt-40 pb-90" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":55,"rotateX":-1,"opacity":0},"animations":{"translateY":0,"rotateX":0,"opacity":1}}'>
				<div class="container">

					<div class="row">

						<div class="lqd-column col-md-6 col-md-offset-3">

							<header class="fancy-title mb-70 text-center">
								<h2 class="mt-0"><span class="text-secondary">Real</span> features</h2>
								<p class="font-size-18">Don’t just take our words for it. Our clients are our biggest supporters. Would you like to know what they think about us?</p>
							</header>

						</div><!-- /.col-md-6 -->
						
					</div><!-- /.row -->

					<div class="row">

						<div class="lqd-column col-md-6 pr-md-4">

							<div class="testimonial testimonial-whole-filled testimonial-whole-shadowed testimonial-details-top testimonial-avatar-shadowed text-left testimonial-avatar-topleft">
								<div class="testimonial-quote">
									<blockquote>
										<p>
											<span style="font-size: 18px; line-height: 30px; color: #808291;"><em>“Praesent porttitor nunc vitae lacus
													vehicula, nec mollis eros congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
													cubilia.”</em>
											</span>
										</p>
									</blockquote>
								</div><!-- /.testimonial-quote -->
								<div class="testimonial-details">
									<figure class="avatar ">
										<img src="./assets/demo/team/team-14.jpg" alt="Mable Cobb">
									</figure>
									<div class="testimonial-info">
										<h5>Mable Cobb</h5>
									</div><!-- /.testimonial-info -->
									<ul class="star-rating">
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
									</ul>
								</div><!-- /.testimonial-details -->
							</div><!-- /.testimonial -->

						</div><!-- /.col-md-6 -->

						<div class="lqd-column col-md-6 pl-md-4">

							<div class="testimonial testimonial-whole-filled testimonial-whole-shadowed testimonial-details-top testimonial-avatar-shadowed text-left testimonial-avatar-topleft">
								<div class="testimonial-quote">
									<blockquote>
										<p>
											<span style="font-size: 18px; line-height: 30px; color: #808291;"><em>“Praesent porttitor nunc vitae lacus
													vehicula, nec mollis eros congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
													cubilia.”</em>
											</span>
										</p>
									</blockquote>
								</div><!-- /.testimonial-quote -->
								<div class="testimonial-details">
									<figure class="avatar ">
										<img src="./assets/demo/team/team-15.png" alt="Mable Cobb">
									</figure>
									<div class="testimonial-info">
										<h5>Patrick Norris</h5>
									</div><!-- /.testimonial-info -->
									<ul class="star-rating">
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
										<li class="text-primary"><i class="fa fa-star"></i></li>
									</ul>
								</div><!-- /.testimonial-details -->
							</div><!-- /.testimonial -->

						</div><!-- /.col-md-6 -->

					</div><!-- /.row -->

					<div class="row mt-70">

						<div class="lqd-column col-md-12">

							<div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">

								<div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>
	
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-1.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-2.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-3.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-4.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-5.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-4.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-5.png" class="w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
									<div class="lqd-column carousel-item col-md-2 col-sm-4 col-xs-3">
										<figure class="text-center opacity-02 reset-opacity-onhover">
											<img src="./assets/demo/clients/client-6.png" class="mt-10 w-60" alt="Client">
										</figure>
									</div><!-- /.carousel-item -->
	
								</div><!-- /.carousel-items row -->
	
							</div><!-- /.carousel-container -->

						</div><!-- /.col-md-12 -->

					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>
\
			