									<ul class="social-icon text-white social-icon-sm">
											<li>
												<a href="https://feedly.com/i/subscription/feed/https://www.oakwave.com/blog/rss/" target="_blank"><i class="fad fa-rss"></i></a>
											</li>
											<li>
												<a href="https://www.facebook.com/oakwaveco" target="_blank"><i class="fab fa-facebook"></i></a>
											</li>
											<li>
												<a href="https://www.twitter.com/oakwaveco" target="_blank"><i class="fab fa-twitter"></i></a>
											</li>
											<li>
												<a href="https://www.linkedin.com/company/oakwave" target="_blank"><i class="fab fa-linkedin"></i></a>
											</li>
										</ul>
									