<section id="testimonials" class="vc_row pt-50 pb-120 bg-dark purple" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":43,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-10 col-md-offset-1">

						<div class="carousel-container carousel-nav-floated carousel-nav-right carousel-nav-vertical carousel-nav-line-between carousel-nav-lg carousel-nav-bordered carousel-nav-circle carousel-dots-style1 carousel-nav-light">

							<div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left", "prevNextButtons":true, "buttonsAppendTo":"self", "pageDots":false, "fullwidthSide":true, "groupCells":false, "pauseAutoPlayOnHover":false, "navArrow":"6", "navOffsets":{"nav":{"right":" 100px"}}}'>

								<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9 ">
											<div class="neumorphic testimonial testimonial-avatar-shadowed bordered-text purple text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
														<h6 class="mt-0 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">from a B2B and B2G biotechnolgy and research institute</h6>
														<p class="font-size-1-5x lh-16"><em>"For eight years, we haven't been able to boil down our offering and make it palatable.  In a highly complex industry and business, you did just that."</em></p>
													</blockquote>
												</div><!-- /.testimonial-quote -->
												<div class="testimonial-details">
												
													<div class="testimonial-info">
														<h5 class="text-white">Dr. Sandy F.</h5>
														<h6 class="font-weight-normal">SVP, Metabolon</h6>
													</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->
									</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->
					<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9 ">
											<div class="neumorphic testimonial testimonial-avatar-shadowed text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
														<h6 class="mt-0  font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">from a B2B and business-to-government fulfillment group</h6>
											<p class="font-size-1-5x lh-16"><em>"In an insanely short time, you conceptualized and delivered upon an idea 100x better than we had brought to the table.  You even saw opportunity we had entirely overlooked. "</em></p>
										</blockquote>
									</div><!-- /.testimonial-quote -->
									<div class="testimonial-details">
												
										<div class="testimonial-info">
											<h5 class="text-white">Scott Z.</h5>
											<h6 class="font-weight-normal">SVP, EPIC</h6>
										</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->
									</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->

				<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9 ">
											<div class="neumorphic testimonial testimonial-avatar-shadowed text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
															<h6 class="mt-0 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">from a B2B and B2G biotechnolgy and research institute</h6>
										<p class="font-size-1-5x lh-16"><em>"Your strategy put meat and merit on the bone! I am so pumped full of ideas."

</em>	</blockquote>
								</div><!-- /.testimonial-quote -->
								<div class="testimonial-details">
								
									<div class="testimonial-info">
										<h5 class="text-white">Dr. Jay S.</h5>
										<h6 class="font-weight-normal">Principal, EHW</h6>
										</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->
									</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->

				</div><!-- /.carousel-container -->

			</div><!-- /.lqd-column col-md-12 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
