extends ./_layouts/default.pug
block content
    include /header.pug
    // about us section
    .about-us-wrapper
        .container
            include /fancy-box.njk
            // about title section
            .about-title-section-wrapper
            .about-page-title
                .title-text
                h6(data-aos='fade-down') ABOUT US
                h1
                    | We write and publish every blog true, latest and
                    | amazing.
            .about-title-image(data-aos='fade-left')
                img(src='/assets/img/about/about-title.jpg' alt='about-img')
            // about title section
            // estabilishment section
            .estabilishment-section
            .estabilishment-text
                h6 SINCE 1984
                p
                | Lorem Ipsum is simply dummy text of the printing and
                | typesetting industry. Lorem Ipsum has been the industry&apos;s
                | standard dummy text ever since
                a.neubutton.rounded-40.alt CONTACT US
            // /estabilishment section
            // target section
            .target-section-wrapper
            .target-image(data-aos='fade-right')
                img(src='/assets/img/about/target-1.jpg' alt='target-img')
            .target-section-text-wrapper
                .target-section-text(data-aos='fade-left')
                h4 Our Mission, Vision and Goals
                p
                    | Don&apos;t the gloomy fees, play. Would findings. Nonsense,
                    | better deeply, quietly thing screen ago up, away been
                    | any saw duty this their not stopped the film...
                    | Frequencies a had as been was cheerful, suggests look
                    | anyone Mr. Lift alarm apparent based of was city, felt
                    | mathematically whose look respect parts how on hand,
                    | anywhere the five seven packed family impasse. Certainly
                    | class, at he fresh behavioural far deeply continued
                    | evening. Evaluation texts. Expand not buttons sad.
                    | Assistant when perhaps subject with missions alphabet I
                    | their should, screen the and is big everyone
                p
                    small Abraham ALi
            // /target section
            // Our Success section
            .success-section-wrapper
            .container
                .success-title
                h6 NUMBER SPEAKS
                h3 Our Success Story
                .success-items-area
                .single-success
                    .success-icon
                    img(src='/assets/img/about/counter-1.png')
                    h1.counter 150
                    h6 ARTICLE WRITTEN
                .single-success
                    .success-icon
                    img(src='/assets/img/about/counter-2.png')
                    h1
                    span.counter 17
                    span k
                    h6 TIMES READS
                .single-success
                    .success-icon
                    img(src='/assets/img/about/counter-3.png')
                    h1.counter 458
                    h6 ACTIVE READER
            // /Our Success section
            // Our Author section
            .authors-section-wrapper
            .container
                .authors-section-title
                h6 THE CREATIVES
                h3 Our Top Authors
                .authors-area.owl-carousel
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-1.jpg' alt='author')
                    h6 Zabir Zunayed
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-2.jpg' alt='author')
                    h6 Ahmed Rabbi
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-3.jpg' alt='author')
                    h6 Alex Quirsi
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-4.jpg' alt='author')
                    h6 Paul Molive
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-5.jpg' alt='author')
                    h6 Barb Ackue
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-6.jpg' alt='author')
                    h6 Gail Forcewind
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-7.jpg' alt='author')
                    h6 Zabir Zunayed
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-2.jpg' alt='author')
                    h6 Zabir Zunayed
                .single-author
                    .author-img
                    img(src='/assets/img/authors/about-author-3.jpg' alt='author')
                    h6 Zabir Zunayed
