.footer-wrapper
  // subscribe section
  .subscribe-section.has-thumbimage(style='background-image: url(assets/img/banner/mail.jpg)')
    .position-relative
      .subscribe-text
        h2 WANT TO GET SOME MORE?
        p Send us your email address and we&rsquo;ll send you great content!
      .subscribe-form
        form(action='#')
          .form-group
            input.form-control(type='text' placeholder='Enter your email address')
            button(type='button') SUBSCRIBE
  // /subscribe section
  // tag section
  .footer-tag.owl-carousel.owl-theme
    a(href='#')
      .single-tag(style="background: url('assets/img/tags/tag-1.jpg') no-repeat center center/cover;")
        .tag-name
          h6 CULTURE
          p 15 Posts
    a(href='#')
      .single-tag(style="background: url('assets/img/tags/tag-2.png') no-repeat center center/cover;")
        .tag-name
          h6 DESIGN
          p 15 Posts
    a(href='#')
      .single-tag(style="background: url('assets/img/tags/tag-3.png') no-repeat center center/cover;")
        .tag-name
          h6 PHOTOGRAPHY
          p 15 Posts
    a(href='#')
      .single-tag
        .tag-name
          h6 CREATIVE
          p 15 Posts
    a(href='#')
      .single-tag(style="background: url('assets/img/tags/tag-4.png') no-repeat center center/cover;")
        .tag-name
          h6 DEVEOLOPMENT
          p 15 Posts
    a(href='#')
      .single-tag(style="background: url('assets/img/tags/tag-1.jpg') no-repeat center center/cover;")
        .tag-name
          h6 CULTURE
          p 15 Posts
  // /tag section
  // footer socia section
  .footer-social-section-wrapper
    .brand
      h4 Delas
    .social-section
      h4 CONNECT
      .social-icons
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-linkedin
        a(href='#')
          i.fa.fa-instagram
        a(href='#')
          i.fa.fa-pinterest-p
  // /footer socia section
  // copyright section
  .copyright-section
    .copyright-text
      p
        | Made with love by
        a(target='_blank' href='https://electronthemes.com/') electronthemes
        | . ALl rights reserved &copy; 2019
  // /copyright section
// ========================= /Footer Section =========================