// ++++++++ Start footer script section ++++++++
// jQuery JS
script(src='/assets/js/jquery-3.3.1.min.js')
// Plugins JS
script(src='/assets/js/plugins.js')
// Google Map API JS
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4uayw359fjMh4P9i2rKKZYHzXaqTRNs')
// Custom Script JS
script(src='/assets/js/scripts.js')