// ================== Top Author Area =======================
.latest-post-area.section-padding
  .container
    .row
      .col-sm-12
        .section-title
          h4 TOP POST FROM BEST AUTHORS
    .top-author-slider
      .ta-carousel.owl-carousel
        // Single author
        .single-top-author
          h4
            a(href='#') Zabir Zunayed
          .t-author-image
            img(src='assets/img/authors/author-1.jpg' alt='author image')
          .top-author-content
            p Articles:
            h3
              a(href='#') The to dreams woman&apos;s performed name economic agency
            h3
              a(href='#') Descriptions than no a return office
        // Single author
        include /singleauthor.pug
        // Single author
        include /singleauthor.pug
                // Single author
        include /singleauthor.pug
        // Single author
        include /singleauthor.pug
                // Single author
        include /singleauthor.pug
        // Single author