<nav class="post-nav">
								

   {{#if prev}}
								<div class="nav-previous">
									<a href="{{page_url prev}}" rel="prev">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" stroke="#444" stroke-width="2" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24">
											<g>
												<line stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linejoin="miter" stroke-linecap="butt"></line>
												<polyline stroke-linecap="square" stroke-miterlimit="10" points="9,19 2,12 9,5 " stroke-linejoin="miter"></polyline>
											</g>
										</svg>
										<span class="screen-reader-text">Previous Page</span>
										<span aria-hidden="true" class="nav-subtitle">Previous Page</span>
									<!--	<span class="nav-title">Compare prices find the best marketing accessories</span>-->
									</a>
								</div>
								{{/if}}
								 {{#if next}}
								<div class="nav-next">
									<a href="{{page_url next}}" rel="next">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" stroke="#444" stroke-width="2" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24">
											<g transform="rotate(180 12,12) ">
												<line stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linejoin="miter" stroke-linecap="butt"></line>
												<polyline stroke-linecap="square" stroke-miterlimit="10" points="9,19 2,12 9,5 " stroke-linejoin="miter"></polyline>
											</g>
										</svg>
										<span class="screen-reader-text">Next Page</span>
										<span aria-hidden="true" class="nav-subtitle">Next Page</span>
									<!--	<span class="nav-title">Enhance marketing by doing something different!</span>-->
									</a>
								</div>
								{{/if}}
							</nav><!-- /.post-nav -->