<section class="vc_row pt-60 pb-60" id="features">

			<div class="container">
				<div class="row d-flex flex-wrap align-items-center">

					<div class="lqd-column col-md-5" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1800","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateX":-35,"rotateZ":1,"opacity":0},"animations":{"translateX":0,"rotateZ":0,"opacity":1}}'>

						<div class="iconbox text-left iconbox-icon-shadow iconbox-circle iconbox-sm" data-plugin-options='{"color":"rgb(255, 255, 255)"}'>
							<div class="iconbox-icon-wrap">
								<span class="iconbox-icon-container">
									<i class="icon-weather_lightning"></i>
								</span>
							</div><!-- /.iconbox-icon-wrap -->
						</div><!-- /.iconbox -->
						<h2
							class="mt-20"
							data-fittext="true"
							data-fittext-options='{ "compressor":0.75,"maxFontSize": 48,"minFontSize": 38 }'
						>Just add your products and start selling online.</h2>
						<p class="font-size-18 mb-35">Import a pre-designed template and change the content. It’s that easy!</p>

					</div><!-- /.lqd-column col-md-5 -->

					<div class="lqd-column col-md-7">

						<div class="liquid-img-group-single pr-5" data-reveal="true" data-reveal-options='{ "direction":"rl" }'>
							<div class="liquid-img-group-img-container">
								<div class="liquid-img-container-inner" data-parallax="true" data-parallax-from='{"translateY":30}' data-parallax-to='{"translateY":-30}' data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
									<figure>
										<img src="./assets/demo/misc/parallax-img-7.jpg" alt="Selling Online" />
									</figure>
								</div><!-- /.liquid-img-container-inner -->
							</div><!-- /.liquid-img-group-img-container -->
						</div><!-- /.liquid-img-group-single -->

						<div class="row">

							<div class="lqd-column col-md-6 col-md-offset-6">

								<div
									class="lqd-parallax-iconboxes bg-white"
									data-parallax="true"
									data-parallax-from='{"translateY": 0}'
									data-parallax-to='{"translateY": 30}'
									data-parallax-options='{"ease": "linear", "reverse": true, "overflowHidden": false, "triggerHook": "onEnter"}'
									data-custom-animations="true"
									data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1800","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
								>

									<div class="iconbox iconbox-inline iconbox-circle iconbox-xxs flex-nowrap">
										<div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<i class="icon-ion-ios-checkmark"></i>
											</span>
										</div><!-- /.iconbox-icon-wrap -->
										<h3 class="font-weight-normal font-size-16">Buy Ave and get access to premium and exclusive plugins for free.</h3>
									</div><!-- /.iconbox -->
	
									<div class="iconbox iconbox-inline iconbox-circle iconbox-xxs flex-nowrap">
										<div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<i class="icon-ion-ios-checkmark"></i>
											</span>
										</div><!-- /.iconbox-icon-wrap -->
										<h3 class="font-weight-normal font-size-16">Buy Ave and get access to premium and exclusive plugins for free.</h3>
									</div><!-- /.iconbox -->
	
									<div class="iconbox iconbox-inline iconbox-circle iconbox-xxs flex-nowrap">
										<div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<i class="icon-ion-ios-checkmark"></i>
											</span>
										</div><!-- /.iconbox-icon-wrap -->
										<h3 class="font-weight-normal font-size-16">Buy Ave and get access to premium and exclusive plugins for free.</h3>
									</div><!-- /.iconbox -->
	
									<div class="iconbox iconbox-inline iconbox-circle iconbox-xxs flex-nowrap">
										<div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<i class="icon-ion-ios-checkmark"></i>
											</span>
										</div><!-- /.iconbox-icon-wrap -->
										<h3 class="font-weight-normal font-size-16">Buy Ave and get access to premium and exclusive plugins for free.</h3>
									</div><!-- /.iconbox -->

								</div><!-- /.lqd-parallax-iconboxes -->

							</div><!-- /.lqd-column col-md-6 col-md-offset-6 -->

						</div><!-- /.row -->

					</div><!-- /.lqd-column col-md-7 hidden-sm hidden-xs -->

				</div><!-- /.row -->
			</div><!-- /.container -->

		</section>