	<section class="vc_row pt-50 pb-65">
			<div class="container">
				<div class="row d-flex flex-wrap align-items-center">

					<div class="lqd-column col-lg-7 col-md-6">
						
						<div class="liquid-img-group-single stretch-to-left pr-md-7" data-shadow-style="4" data-roundness="2" data-inview="true" data-animate-shadow="true">
							<div class="liquid-img-group-img-container">
								<div class="liquid-img-container-inner">
									<figure>
										<img src="./assets/demo/misc/parallax-img-6.jpg" alt="Ave Collection">
									</figure>
								</div><!-- /.liquid-img-container-inner -->
							</div><!-- /.liquid-img-group-img-container -->
						</div><!-- /.liquid-img-group-single -->

					</div><!-- /.col-lg-7 col-md-6 -->

					<div
						class="lqd-column col-lg-4 col-md-6 pt-7"
						data-custom-animations="true"
						data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","startDelay":"350","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":28,"opacity":0},"animations":{"translateY":0,"opacity":1}}'
					>

						<header class="fancy-title mb-50">

							<h2 class="mb-30 pull-to-left" data-fittext="true" data-fittext-options='{ "compressor": 0.65, "maxFontSize": 75, "minFontSize": 35 }'>
								<span class="font-size-1x">Ave Collection</span>
							</h2>
							<h3 class="font-size-22 lh-185 font-style-italic pr-7 mr-3" data-split-text="true" data-split-options='{"type":"lines"}'> “Beautiful, hand-crafted  designs to get you started. in the right direction.” </h3>
							
						</header><!-- /.fancy-title -->

						<a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase fresco btn-icon-left btn-icon-xlg btn-icon-circle btn-icon-solid font-size-14 font-weight-bold ltr-sp-1 text-dark text-hover-primary">
							<span>
								<span class="btn-txt">See how We Work</span>
								<span class="btn-icon font-size-21"><i class="fa fa-play"></i></span>
							</span>
						</a>

						<div class="liquid-counter-md mt-65">

							<div class="liquid-counter-element align-items-start text-primary" data-enable-counter="true" data-counter-options='{"targetNumber":"130m", "blurEffect":true}'>
								<span>130m</span>
							</div><!-- /.liquid-counter-element -->
							<p class="font-size-16">projects completed around the world</p>

						</div><!-- /.liquid-counter-md -->
						
					</div><!-- /.col-lg-5 col-md-6 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>