	<section class="vc_row pt-100 pb-100" id="about">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-5" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1800","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"rotateZ":1,"opacity":0},"animations":{"translateY":0,"rotateZ":0,"opacity":1}}'>

						<h6 class="font-size-12 text-uppercase ltr-sp-2">Fancy Images</h6>
						<h2
							class="mt-40"
							data-fittext="true"
							data-fittext-options='{ "compressor":0.75,"maxFontSize": 48,"minFontSize": 38 }'
						>Build and customize stunning pages in minutes -visually.</h2>
						<p class="font-size-18 mb-35">Import a pre-designed template and change the content. It’s that easy!</p>

						<a href="#" class="btn btn-solid text-uppercase btn-lg semi-round btn-bordered border-thin font-size-12 font-weight-bold ltr-sp-2 px-2" data-localscroll="true" data-localscroll-options='{ "scrollBelowSection": true }'>
							<span>
								<span class="btn-txt">Fancy Button</span>
								<span class="btn-icon"><i class="fa fa-angle-right"></i></span>
							</span>
						</a>

					</div><!-- /.lqd-column col-md-5 -->

					<div class="lqd-column col-md-7 hidden-sm hidden-xs">

						<div class="liquid-img-group-container">
							<div class="liquid-img-group-inner d-flex align-items-center justify-content-between">
								
								<div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner" data-parallax="true" data-parallax-from='{"translateY":-17}' data-parallax-to='{"translateY":55}' data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
											<figure>
												<img width="300" height="399" src="./assets/demo/misc/parallax-img-4.jpg" alt="Parallax Image" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->

								<div class="liquid-img-group-single" data-shadow-style="4" data-inview="true" data-inview-options='{"delayTime":250}' data-animate-shadow="true">
									<div class="liquid-img-group-img-container">
										<div class="liquid-img-container-inner" data-parallax="true" data-parallax-from='{"translateY":18}' data-parallax-to='{"translateY":-71}' data-parallax-options='{"overflowHidden":false,"easing":"linear"}'>
											<figure>
												<img width="300" height="399" src="./assets/demo/misc/parallax-img-5.jpg" alt="Parallax Image" />
											</figure>
										</div><!-- /.liquid-img-container-inner -->
									</div><!-- /.liquid-img-group-img-container -->
								</div><!-- /.liquid-img-group-single -->

							</div><!-- /.liquid-img-group-inner -->
						</div><!-- /.liquid-img-group-container -->

					</div><!-- /.lqd-column col-md-7 hidden-sm hidden-xs -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
