	<section class="vc_row pt-90 pb-65">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-4 px-6">

						<div class="iconbox iconbox-lg iconbox-heading-sm">
							<div class="iconbox-icon-wrap">
								<span class="iconbox-icon-container">
									<img src="./assets/demo/icon/icon-1.png" class="liquid-image-icon" alt="Icon">
								</span>
							</div><!-- /.iconbox-icon-wrap -->
							<div class="contents">
								<h3 class="font-weight-semibold">Intuitive Visual Editor</h3>
								<p>Manage theme settings and take full control over your site.</p>
							</div><!-- /.contents -->
						</div><!-- /.iconbox -->

					</div><!-- /.lqd-column col-md-4 -->

					<div class="lqd-column col-md-4 px-6">

						<div class="iconbox iconbox-lg iconbox-heading-sm">
							<div class="iconbox-icon-wrap">
								<span class="iconbox-icon-container">
									<img src="./assets/demo/icon/icon-2.png" class="liquid-image-icon" alt="Icon">
								</span>
							</div><!-- /.iconbox-icon-wrap -->
							<div class="contents">
								<h3 class="font-weight-semibold">Huge Design Collection</h3>
								<p>Manage theme settings and take full control over your site.</p>
							</div><!-- /.contents -->
						</div><!-- /.iconbox -->

					</div><!-- /.lqd-column col-md-4 -->

					<div class="lqd-column col-md-4 px-6">

						<div class="iconbox iconbox-lg iconbox-heading-sm">
							<div class="iconbox-icon-wrap">
								<span class="iconbox-icon-container">
									<img src="./assets/demo/icon/icon-3.png" class="liquid-image-icon" alt="Icon">
								</span>
							</div><!-- /.iconbox-icon-wrap -->
							<div class="contents">
								<h3 class="font-weight-semibold">One Click Installation</h3>
								<p>Manage theme settings and take full control over your site.</p>
							</div><!-- /.contents -->
						</div><!-- /.iconbox -->

					</div><!-- /.lqd-column col-md-4 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>