	
			<section class="vc_row pt-50 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-rl">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front bg-primary">
							
										<span class="ld-flipbox-overlay"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-md">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white">
														<i class="icon-ion-ios-watch"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Flipbox Title</h3>
													<p><span>All transactions that occur on Envato Market will be in U.S. dollars.</span></p>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-rl">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front bg-gradient-primary-tl">
							
										<span class="ld-flipbox-overlay"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-md">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white">
														<i class="icon-ion-ios-watch"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Flipbox Title</h3>
													<p><span>All transactions that occur on Envato Market will be in U.S. dollars.</span></p>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-rl">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front bg-primary">
							
										<span class="ld-flipbox-overlay"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-md">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white">
														<i class="icon-ion-ios-watch"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Flipbox Title</h3>
													<p><span>All transactions that occur on Envato Market will be in U.S. dollars.</span></p>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			