<section class="vc_row pt-50 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-bt">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(./assets/demo/misc/fb-22.jpg)">
							
										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-02"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-xl">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white mb-4">
														<i class="icon-basic_webpage_img_txt"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Automatic Updates</h3>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-bt">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(./assets/demo/misc/fb-23.jpg)">
							
										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-02"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-xl">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white mb-4">
														<i class="icon-basic_webpage_img_txt"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Automatic Updates</h3>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

						<div class="lqd-column col-md-4">

							<div class="ld-flipbox ld-flipbox-bt">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front" style="background-image: url(./assets/demo/misc/fb-24.jpg)">
							
										<span class="ld-flipbox-overlay ld-overlay bg-fade-dark-02"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-xl">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white mb-4">
														<i class="icon-basic_webpage_img_txt"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Automatic Updates</h3>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<a href="#" class="btn btn-solid font-size-12 lh-2 text-uppercase ltr-sp-175 btn-white">
												<span>
													<span class="btn-txt">Discover One</span>
												</span>
											</a>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-4 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>