	<section class="vc_row pt-50 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-6 px-md-5">

							<div class="ld-flipbox ld-flipbox-tb">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front bg-gradient-primary-br">
							
										<span class="ld-flipbox-overlay ld-overlay"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-xl">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white mb-4">
														<i class="icon-basic_webpage_img_txt"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Automatic Updates</h3>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<p class="text-fade-white-08">All transactions that occur on Envato Market will be in U.S. dollars. If your Paypal account or funding source is in a currency other than U.S. dollars.</p>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-6 -->

						<div class="lqd-column col-md-6 px-md-5">

							<div class="ld-flipbox ld-flipbox-tb">

								<div class="ld-flipbox-wrap">
							
									<div class="ld-flipbox-face ld-flipbox-front bg-gradient-primary-br">
							
										<span class="ld-flipbox-overlay ld-overlay"></span>
										
										<div class="ld-flipbox-inner">
											
											<div class="iconbox iconbox-xl">
												<div class="iconbox-icon-wrap">
													<span class="iconbox-icon-container text-white mb-4">
														<i class="icon-basic_webpage_img_txt"></i>
													</span>
												</div><!-- /.iconbox-icon-wrap -->
												<div class="contents">
													<h3 class="font-weight-bold">Automatic Updates</h3>
												</div><!-- /.contents -->
											</div><!-- /.iconbox -->	
											
										</div><!-- /.ld-flipbox-inner -->
										
									</div><!-- /.ld-flipbox-front -->
									
									<div class="ld-flipbox-face ld-flipbox-back">
										
										<span class="ld-flipbox-overlay ld-overlay"></span>
							
										<div class="ld-flipbox-inner">
							
											<p class="text-fade-white-08">All transactions that occur on Envato Market will be in U.S. dollars. If your Paypal account or funding source is in a currency other than U.S. dollars.</p>
							
										</div><!-- /.ld-flipbox-inner -->
							
									</div><!-- /.ld-flipbox-back -->
							
								</div><!-- /.ld-flipbox-wrap -->
							
							</div><!-- /.ld-flipbox -->

						</div><!-- /.lqd-column col-md-6 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>