
	
		<main id="content" class="content py-0">
			
			<div class="blog-single-cover scheme-light" data-fullheight="true" data-inview="true" data-inview-options='{ "onImagesLoaded": true }' style="background-color: #666871;">

				<figure class="blog-single-media" data-responsive-bg="true" data-parallax="true" data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }' data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
					<img src="./assets/demo/blog/blog-single-1.jpg" alt="Blog single">
				</figure>
				
				<div class="blog-single-details">
					
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								
								<header class="entry-header blog-single-header" data-parallax="true" data-parallax-to='{ "opacity": 0, "translateY": "30%" }' data-parallax-options='{ "triggerHook": "0.3" }'>
									<h1 class="blog-single-title entry-title h2" data-split-text="true" data-split-options='{ "type": "lines" }'>The small change that creates massive results in your life</h1>
									<div class="post-meta">
										<span class="byline">
											<span class="block text-uppercase ltr-sp-1">Author:</span>
											<span class="author vcard">
												<a class="url fn n" href="#">David Beckham</a>
											</span>
										</span>
										<span class="posted-on">
											<span class="block text-uppercase ltr-sp-1">Published on:</span>
											<a href="#" rel="bookmark">
												<time class="entry-date published updated" datetime="2018-03-13T09:25:41+00:00">March 13, 2018</time>
											</a>
										</span>
										<span class="cat-links">
											<span class="block text-uppercase ltr-sp-1">Published in:</span>
											<a href="#" rel="category tag">Business</a>
										</span>
									</div><!-- /.post-meta -->
									<div class="blog-single-details-extra">
										<a href="https://www.youtube.com/watch?v=YJ5q8Wrkbdw" class="lightbox-link fresco">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" stroke="#000" stroke-width="1px" width="71.5px" height="71.5px">
												<path fill-rule="evenodd"  stroke-linecap="butt" stroke-linejoin="miter" d="M35.500,0.500 C54.830,0.500 70.500,16.170 70.500,35.500 C70.500,54.830 54.830,70.500 35.500,70.500 C16.170,70.500 0.500,54.830 0.500,35.500 C0.500,16.170 16.170,0.500 35.500,0.500 Z"/>
												<path fill-rule="evenodd" stroke-linecap="butt" stroke-linejoin="miter" d="M49.410,35.676 L28.165,47.942 L28.165,23.410 L49.410,35.676 Z"/>
											</svg>
											<span class="text-uppercase ltr-sp-1">Play Video</span>
										</a>
									</div><!-- /.blog-single-details-extra -->
								</header><!-- /.blog-single-header -->
								
							</div><!-- /.col-md-6 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
					
				</div><!-- /.blog-single-details -->
				
			</div><!-- /.blog-single-cover -->
			
			<article class="blog-single">
				
				<div class="container">
					
					<div class="row">
						
						<div class="col-md-8 col-md-offset-2">
							
							<div class="blog-single-content entry-content pull-up expanded">
								
								<p class="add-dropcap">
									Never ever think of giving up. Winners never quit and quitters never win. Take all negative words out of your mental dictionary and focus on the solutions with
									utmost conviction and patience. The battle is never lost until you’ve abandon your vision. But what if you’re really exhausted physically, mentally, and most of all emotionally? Here are some sources of motivation to prompt you in reaching the peak of accomplishment.
								</p>
								
								<blockquote>
									<h3>“Success is the result of perfection, hard work, learning from failure, loyalty, and persistence”</h3>
									<cite>Colin Powell</cite>
								</blockquote>
								
								<p>Let me share with you one of my favorite quotes, as stated in that quote, there are three key factors to achieve massive success in your life:</p>
								
								<h3>Don’t forget the preparation</h3>
								
								<p>Never ever think of giving up. Winners never quit and quitters never win. Take all negative words out of your mental dictionary and focus on the solutions with utmost conviction and patience. The battle is never lost until you’ve abandon your vision.</p>
								
								<p>But what if you’re really exhausted physically, mentally, and most of all emotionally? Here are some sources of motivation to prompt you in reaching the peak of accomplishment.</p>
								
								<div class="fullwidth">
									<figure>
										<img src="./assets/demo/blog/blog-single-2.jpg" alt="Blog Single">
										<figcaption>Martial arts figure prominently in many Asian cultures, and the first known traces of martial arts date from the Xia Dynasty of ancient China from over 4000 years ago.</figcaption>
									</figure>
								</div><!-- /.fullwidth -->
								
								<h3>Hard work</h3>
								
								<p>Success needs hard work. Don’t listen to these ‘get rich quick’ schemes. You need to build your character and work hard on yourself and your business to achieve greatness. Work hard and work smart. Do the right things and do them in the right way. Don’t procrastinate. Take bold actions. Work long hours and craft your legacy.</p>
								
								<h3>Learning from failure</h3>
								
								<p>Successful people do not see failures as failures. They see them as important learning lessons. Lessons that are capable of giving them insights to prevent such mistakes from happening again. By adopting this mindset of turning each failure into a learning lesson or opportunity, you can never fail until you yourself quit.</p>
								
								<p>You should be able to find several indispensable facts about motivation in the following paragraphs. If there’s at least one fact you didn’t know before, imagine the difference it might make. It’s so difficult to go on when everything seems to fail, isn’t it? Are there times in your life when you really want to call it “quits” because you just can’t see any good results from all the hard work you’ve done?</p>
								
								<div class="stretch-to-sides">
									<div class="row">
										
										<div class="col-md-6">
											<figure>
												<img src="./assets/demo/blog/blog-single-3.jpg" alt="Blog Single">
											</figure>
										</div><!-- /.col-md-6 -->
										<div class="col-md-6">
											<figure>
												<img src="./assets/demo/blog/blog-single-4.jpg" alt="Blog Single">
											</figure>
										</div><!-- /.col-md-6 -->
										
									</div><!-- /.row -->
								</div><!-- /.stretch-to-sides -->
								
								<h3>The Reward System</h3>
								
								<p>Just set something gratifying to indulge in after completing a certain undertaking. The best time to learn about motivation is before you’re in the thick of things. Wise readers will keep reading to earn some valuable motivation experience while it’s still free.</p>
								
								<h3>The powerful force of humanity</h3>
								
								<p>If you want to succeed, surround yourself with the right kind of people who will support and encourage you all the way. Be with people who have the same beliefs and aspirations as yours. Positive aura is generated by this fusion of collective energy from people of “like minds.” On the contrary, being with people who oppose your ways of thinking may trigger a negative, yet very powerful, kind of motivation.</p>
								
							</div><!-- /.blog-single-content entry-content -->
							
							<footer class="blog-single-footer entry-footer">
								
								<span class="tags-links">
									<a href="#" rel="tag">Granada</a>
									<a href="#" rel="tag">Spain</a>
									<a href="#" rel="tag">Travel</a>
								</span>
								
								<span class="share-links">
									<span class="text-uppercase ltr-sp-1">Share On</span>
									<ul class="social-icon circle branded social-icon-sm">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul><!-- /.social-icon -->
								</span><!-- /.share-links -->
								
							</footer><!-- /.blog-single-footer entry-footer -->
							
							<div class="post-author">
								
								<figure>
									<img src="./assets/demo/avatars/avatar-2.jpg" alt="avatar">
								</figure>
								<div class="post-author-info clearfix">
									<h3><a href="#">David Beckham</a></h3>
									<h6>Editor</h6>
									<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis unde.</p>
								</div><!-- /.post-author-info -->
								
							</div><!-- /.post-author -->
							
							<nav class="post-nav">
								
								<div class="nav-previous">
									<a href="#" rel="prev">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" stroke="#444" stroke-width="2" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24">
											<g>
												<line stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linejoin="miter" stroke-linecap="butt"></line>
												<polyline stroke-linecap="square" stroke-miterlimit="10" points="9,19 2,12 9,5 " stroke-linejoin="miter"></polyline>
											</g>
										</svg>
										<span class="screen-reader-text">Previous Article</span>
										<span aria-hidden="true" class="nav-subtitle">Previous Article</span>
										<span class="nav-title">Compare prices find the best computer accessory</span>
									</a>
								</div>
								
								<div class="nav-next">
									<a href="#" rel="next">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" stroke="#444" stroke-width="2" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="24" height="24">
											<g transform="rotate(180 12,12) ">
												<line stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linejoin="miter" stroke-linecap="butt"></line>
												<polyline stroke-linecap="square" stroke-miterlimit="10" points="9,19 2,12 9,5 " stroke-linejoin="miter"></polyline>
											</g>
										</svg>
										<span class="screen-reader-text">Next Article</span>
										<span aria-hidden="true" class="nav-subtitle">Next Article</span>
										<span class="nav-title">Enhance wellness by doing something different!</span>
									</a>
								</div>
								
							</nav><!-- /.post-nav -->
							
						</div><!-- /.col-md-8 -->
						
					</div><!-- /.row -->
				</div><!-- /.container -->
				
				<div id="comments" class="comments-area">
					
					<div id="respond" class="comment-respond filled">
						
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									
									<h3 id="reply-title" class="comment-reply-title">Leave a comment</h3>
									
									<form action="#" method="post" id="commentform" class="comment-form" novalidate="">
										<!-- <p class="comment-notes">
											<span id="email-notes">Your email address will not be published.</span> Required fields are marked
											<span class="required">*</span>
										</p> -->
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<p class="comment-form-author">
													<input id="author" name="author" type="text" size="30" maxlength="245" aria-required="true" required="required">
													<span class="input-placeholder"
													data-split-text="true" data-split-options='{ "type": "chars" }'
													data-custom-animations="true"
													data-ca-options='{ "triggerHandler": "focus", "triggerTarget": "input", "triggerRelation": "siblings", "offTriggerHandler": "blur", "animationTarget": "all-childs", "delay": 50, "animations": { "translateY": "-20%", "rotateX": -45, "opacity": 0 } }'
													>Name*</span>
												</p>
											</div><!-- /.col-md-4 col-sm-6 -->
											<div class="col-md-4 col-sm-6">
												<p class="comment-form-email">
													<input id="email" name="email" type="email" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required">
													<span class="input-placeholder"
													data-split-text="true" data-split-options='{ "type": "chars" }'
													data-custom-animations="true"
													data-ca-options='{ "triggerHandler": "focus", "triggerTarget": "input", "triggerRelation": "siblings", "offTriggerHandler": "blur", "animationTarget": "all-childs", "delay": 50, "animations": { "translateY": "-20%", "rotateX": -45, "opacity": 0 } }'
													>Email*</span>
												</p>
											</div><!-- /.col-md-4 col-sm-6 -->
											<div class="col-md-4 col-sm-12">
												<p class="comment-form-url">
													<input id="url" name="url" type="url" size="30" maxlength="200">
													<span class="input-placeholder"
													data-split-text="true" data-split-options='{ "type": "chars" }'
													data-custom-animations="true"
													data-ca-options='{ "triggerHandler": "focus", "triggerTarget": "input", "triggerRelation": "siblings", "offTriggerHandler": "blur", "animationTarget": "all-childs", "delay": 50, "animations": { "translateY": "-20%", "rotateX": -45, "opacity": 0 } }'
													>Website</span>
												</p>
											</div><!-- /.col-md-4 col-sm-12 -->
											<div class="col-sm-12">
												<p class="comment-form-comment">
													<textarea id="comment" name="comment" cols="45" rows="5" maxlength="65525" aria-required="true" required="required"></textarea>
													<span class="input-placeholder"
													data-split-text="true" data-split-options='{ "type": "chars" }'
													data-custom-animations="true"
													data-ca-options='{ "triggerHandler": "focus", "triggerTarget": "textarea", "triggerRelation": "siblings", "offTriggerHandler": "blur", "animationTarget": "all-childs", "delay": 50, "animations": { "translateY": "-20%", "rotateX": -45, "opacity": 0 } }'
													>Comment*</span>
												</p>
											</div><!-- /.col-sm-12 -->
											<div class="col-sm-12 text-right">
												<p class="form-submit">
													<input name="submit" type="submit" id="submit" class="submit" value="Submit">
												</p>
											</div><!-- /.col-sm-12 -->
										</div><!-- /.row -->
									</form>
									
								</div><!-- /.col-md-8 col-md-offset-2 -->
							</div><!-- /.row -->
						</div><!-- /.container -->
						
					</div><!-- /.comment-form -->
					
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								
								<ol class="comment-list">
									
									<li class="comment">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img alt="Avatar" src="./assets/demo/avatars/avatar-3.jpg" class="avatar">
													<b class="fn">
														<a href="#" rel="external nofollow" class="url">Robert Stevenson</a>
													</b>
													<span class="says">says:</span>
												</div> <!-- .comment-author -->
												
												<div class="comment-metadata">
													<a href="#">
														<time datetime="2018-03-13T09:25:41+00:00">3 hours ago</time>
													</a>
												</div> <!-- .comment-metadata -->
												
											</footer> <!-- .comment-meta -->
											
											<div class="comment-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div> <!-- .comment-content -->
											
											<div class="comment-extras">
												<div class="reply">
													<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to A WordPress Commenter">Reply</a>
												</div><!-- /.reply -->
											</div>
										</article> <!-- .comment-body -->
										
										<ol class="children">
											<li class="comment">
												<article class="comment-body">
													<footer class="comment-meta">
														<div class="comment-author vcard">
															<img alt="Avatar" src="./assets/demo/avatars/avatar-5.jpg" class="avatar">
															<b class="fn">
																<a href="#" rel="external nofollow" class="url">Leona Porter</a>
															</b>
															<span class="says">says:</span>
														</div> <!-- .comment-author -->
														
														<div class="comment-metadata">
															<a href="#">
																<time datetime="2018-03-14T09:13:13+00:00">2 hours ago</time>
															</a>
														</div> <!-- .comment-metadata -->
													</footer> <!-- .comment-meta -->
													
													<div class="comment-content">
														<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
													</div> <!-- .comment-content -->
													
													<div class="comment-extras">
														<div class="reply">
															<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to Mohsen">Reply</a>
														</div><!-- /.reply -->
													</div>
												</article> <!-- .comment-body -->
											</li> <!-- #comment-## -->
										</ol> <!-- .children -->
									</li> <!-- #comment-## -->
									
									<li class="comment">
										<article class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img alt="Avatar" src="./assets/demo/avatars/avatar-4.jpg" class="avatar">
													<b class="fn">
														<a href="#" rel="external nofollow" class="url">Janie Black</a>
													</b>
													<span class="says">says:</span>
												</div> <!-- .comment-author -->
												
												<div class="comment-metadata">
													<a href="#">
														<time datetime="2018-03-14T09:13:30+00:00">December 25, 2017</time>
													</a>
												</div> <!-- .comment-metadata -->
											</footer> <!-- .comment-meta -->
											
											<div class="comment-content">
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											</div> <!-- .comment-content -->
											
											<div class="comment-extras">
												<div class="reply">
													<a rel="nofollow" class="comment-reply-link" href="#" aria-label="Reply to Mohsen">Reply</a>
												</div><!-- /.reply -->
											</div>
										</article> <!-- .comment-body -->
									</li> <!-- #comment-## -->
								</ol>
								
							</div><!-- /.col-md-8 col-md-offset-2 -->
						</div><!-- /.row -->
					</div><!-- /.container -->
					
				</div><!-- /.comments-area -->
				
			</article><!-- /.blog-single -->
			
		</main><!-- /#content.content -->
		
	