<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon icons -->
    <link rel="icon" href="assets/img/logo/fav.png" type="image/png" />
    <!-- Site title -->
    <title>Delas</title>
    <!-- CSS Files -->
    <!-- Bootstarp CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
    <!-- All component's and plugin's css CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="all" />
</head>

<body>
    <!-- ========= Color Switcher and settings ============ -->
    <div class="delas-switcher">
        <div class="gear-sliders">
            <i class="fa fa-sliders"></i>
        </div>
        <div class="switcher-option">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <a href="https://themeforest.net/item/delas-dark-minimalist-blogging-html-template/23562596" target="_blank" class="btn btn-red">Buy Now</a>
        </div>
    </div>
    <!-- 404 Page Start -->
    <div class="text-center min-vh-100 section-padding">
        <div class="container">
            <div class="error">
                <img src="assets/img/404.png" alt="404" />
                <p>
                    This is embrassing, We are sorry! We didn't find the page you
                    are looking for :-(
                </p>
                <a href="index.html" class="btn btn-danger mt-4">GO HOME</a>
            </div>
        </div>
    </div>
    <!-- /404 Page Start -->
    <!--++++++++ Start footer script section ++++++++-->
    <!-- jQuery JS -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Google Map API JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4uayw359fjMh4P9i2rKKZYHzXaqTRNs"></script>
    <!-- Custom Script JS -->
    <script src="assets/js/scripts.js"></script>
</body>

</html>