// ================== Featured Post Area =======================
.featured-slider-area
  .featured-slider.owl-carousel
    include featured-single.pug
    include singlepost.pug
    // Single Slide
    include singlepost.pug
    // /Single Slide
// ================== /Featured Post Area =======================