.single-slide(style='background-image: url(assets/img/slider/slide-1.jpg)')
  .single-slide-content
    .post-meta
      p
        a(href='#') Design
      p 13 July, 2018
    .author-meta
      i.fa.fa-user
      |  Posted by - 
      a(href='#') Zabir Junayed
    h2
      | It&rsquo;s Time for Digital 
      br
      |  Product to Empowering 
      br
      |  Us today
    p
      | Principles, attempt. Him our looked bit good been nonetheless, bold, is the dreams, fall that prior get same write options plans...
    .read-more
      a(href='#') CONTINUE READEING