.latest-news-sec
  .container
    .section-title.text-right.mb-4
      h4 Latest News
    .latest-news
      div
        .owl-carousel.ln-carousel
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/4.jpg' alt='News Image')
            .card-content
              .top-author-meta
                span
                  a(href='#') Design
                  |  , 
                  a(href='#') Culture
                span /
                span 13 July,  2018
              h6
                a.card-title(href='') Descriptions than no a return office they sick
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/5.jpg' alt='News Image')
            .card-content
              .top-author-meta
                span
                  a(href='#') Design
                  |  , 
                  a(href='#') Culture
                span /
                span 13 July,  2018
              h6
                a.card-title(href='') Descriptions than no a return office they sick
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/6.jpg' alt='News Image')
            .card-content
              .top-author-meta
                span
                  a(href='#') Design
                  |  , 
                  a(href='#') Culture
                span /
                span 13 July,  2018
              h6
                a.card-title(href='') Descriptions than no a return office they sick
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/8.jpg' alt='News Image')
            .card-content
              .top-author-meta
                span
                  a(href='#') Design
                  |  , 
                  a(href='#') Culture
                span /
                span 13 July,  2018
              h6
                a.card-title(href='') Descriptions than no a return office they sick