// ================== /All News Area =======================
.all-news-sec.section-padding
  .container
    .section-title(data-aos='fade-down')
      h4 All News
    .all-news
      .row.news-grid
        .col-lg-6.grid-item
        .col-lg-12.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/9.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4.mb-4
                a.card-title(href='')
                  | Such touched groundtem, narrowness were with readers the of harmonic by towards original she
              p
                | Acting the but beacon a in cons, peacefully, if about honour; The than is blind such we to agency; We along viable recently do. Prosecution in to name future derided into the lots display...
              .read-more
                a(href='#') CONTINUE READEING
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/1.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') The to dreams woman&apos;s performed name economic agency
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          include fancy-box.njk
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/3.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') Her you his a show of to and rolled came not are his of have
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/4.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') windshield going avoid that guard to of he if for a the her after
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/5.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') Are as the universal and officers, amidst was days
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/6.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') Couldn&apos;t was where left brief children class, the all to not the 
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/7.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') the to dreams woman&apos;s performed name economic agency
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
        .col-lg-6.grid-item.py-4
          .ln-card
            a.card-img(href='')
              img(src='assets/img/news/8.jpg' alt='News Image')
            .card-content
              .post-meta
                p
                  a(href='#') Design
                p 13 July, 2018
              .author-meta
                i.fa.fa-user-o
                |  Posted by - 
                a(href='#') Zabir Junayed
              h4
                a.card-title(href='') Those been partially either repeat few funny nowhere happening
              .social-share-post.mt-4
                .share-icon
                  i.fa.fa-share-alt
                ul.share-post
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  li
                    a(href='#')
                      i.fa.fa-pinterest
// ================== /All News Area =======================