<section class="vc_row pt-95 pb-80 mt-80 bg-cover" id="buy" style="background-image: url(./assets/demo/bg/bg-8.jpg);" data-parallax="true" data-parallax-options='{"parallaxBG": true}'>
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-8">

						<div class="ld-fancy-heading mask-text">
							<h2
								class="text-white"
								data-fittext="true"
								data-fittext-options='{"compressor":0.55, "maxFontSize": 45, "minFontSize":35 }'
								data-split-text="true"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":700,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"translateY":84,"rotateZ":10},"animations":{"translateY":0,"rotateZ":0}}'
								data-split-options='{"type":"lines"}'>
								<span class="ld-fh-txt">
									Looking for a unique theme?<br />
									<span class="text-underline">Get your copy today.</span>
								</span>
							</h2>
						</div><!-- /.ld-fancy-heading -->

					</div><!-- /.col-md-8 -->

					<div class="lqd-column col-md-3 col-md-offset-1 text-center">
						
						<a
							href="#"
							class="btn btn-solid btn-sm semi-round px-3 btn-block bg-white border-color-white bg-hover-dark text-dark text-hover-white lh-2">
							<span>
								<span class="btn-txt">Join to download</span>
							</span>
						</a>

						<div class="ld-fancy-heading mt-3">
							<p
								class="text-white opacity-07"
								data-split-text="true"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":".split-inner","duration":700,"delay":100,"easing":"easeOutQuint","direction":"forward","initValues":{"scale":1},"animations":{"scale":1}}' data-split-options='{"type":"lines"}'>
								<span class="ld-fh-txt"> Do you have a question?<br /> Ask here.</span>
							</p>
						</div><!-- /.ld-fancy-heading -->

					</div><!-- /.col-md-3 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		