
		<section id="about" class="vc_row pb-50" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":43,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
			<div class="container">

				<div class="row">

					<div class="lqd-column col-md-8 border-radius-4">

						<div class="row">

							<div
								class="lqd-column col-lg-8 col-md-8 col-sm-12 text-white"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","startDelay":"500","delay":"30","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":45,"translateZ":-125,"rotateZ":-1,"opacity":0},"animations":{"translateY":0,"translateZ":0,"rotateZ":0,"opacity":1}}'>

								<h3 class="text-white">About us</h3>
								<p class="mb-60">We call ourselves strategy symphony conductors, marketing de-spaghettification experts, and problem-solving superheroes.  We are ushering in a new wave of agency relationships while relying upon the oak solid foundations that made marketing amazing in the first place.</p>

							</div><!-- /.col-lg-4 col-md-5 col-lg-offset-1 -->

							<div class="lqd-column col-md-4 col-lg-3">

								<div class="liquid-counter liquid-counter-huge liquid-counter-xl text-white">

								<!-- <span class="liquid-counter-text liquid-text-top">More Than</span>
								-->		<div class="liquid-counter-element neumorphic neumorphic-rounded-edges text-primary bg-dark text-center" style="color: #ffffff !important;" data-enable-counter="true" data-counter-options='{ "targetNumber": "$197,246,000", "blurEffect": true }'>
										<span>$197,246,000</span>
								</div><!-- /.liquid-counter-element --><br />
									<div class="text-white pl-2 font-size-14 text-center font-italic">in client revenue generated attributable to our efforts (but who's counting? Well, we are.)</div>

								</div><!-- /.liquid-counter liquid-counter-huge -->

							</div><!-- /.col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 -->

						</div><!-- /.row -->


					</div><!-- /.lqd-column col-md-12 -->

				</div><!-- /.row -->
				</div>
				</section>


	