<section class="vc_row pt-140 pb-120 bg-dark">

				<div class="container">
					<div class="row d-flex flex-wrap align-items-center">

						<div
							class="lqd-column col-lg-7"
							data-custom-animations="true"
							data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

							<header class="fancy-title mb-40">
								<h3 class="text-uppercase white-text text-white ltr-sp-05">Frequently Asked Questions</h3>
							</header>

							<div class="accordion accordion-round accordion-title-circle  " id="accordion-1" role="tablist">
  
								<div class="accordion-item panel">
								
									<div class="accordion-heading neumorphic bordered-text" role="tab" id="heading1-1">
										<h4 class="accordion-title font-size-18 lh-2">
											<a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
Who is OAKWAVE?												<span class="accordion-expander">
													<i class="fas fa-angle-down"></i>
													<i class="fas fa-angle-up"></i>
												</span>
											</a>
										</h4>
									</div><!-- /.accordion-headeing -->
									
									<div id="collapse1" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading1-1">
							
										<div class="accordion-content">
											<p class="text-white white-text">We are a small, resourceful, and fierce group of realistic creatives who deliver marketing strategy, marketing review, decision-making, and on-demand CMO-as-a-service solutions for B2B brands</p>
										</div><!-- /accordion-content -->
										
									</div><!-- /accordion-collapse -->
									
								</div><!-- /.accordion-item -->
								<div class="accordion-item panel">
									
									<div class="accordion-heading neumorphic bordered-text" role="tab" id="heading2">
										<h4 class="accordion-title font-size-18 lh-2">
											<a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
In which industries does OAKWAVE work?												<span class="accordion-expander">
													<i class="fas fa-angle-down"></i>
													<i class="fas fa-angle-up"></i>
												</span>
											</a>
										</h4>
									</div><!-- /.accordion-headeing -->
									
									<div id="collapse2" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							
										<div class="accordion-content">
											<p class="text-white white-text">We service all industries, but we specialize in B2B (though we have had MANY B2C clients as well, it’s just not our core strength). We have a penchant for franchise sales, SaaS, medical, and manufacturing. But, only because we’ve had clusters of clients in each of those areas. As long as the nature of the challenge is marketing, sales, or business, we’re specialized there. This requires a lot more work on our part, but we know your industry like our own by the end of our process.

<a href="https://www.oakwave.com/blog/specializes-in-b2b/">More on industry specialization</a>
</p>
										</div><!-- /accordion-content -->
										
									</div><!-- /accordion-collapse -->
									
								</div><!-- /.accordion-item -->
								<div class="accordion-item panel">
									
									<div class="accordion-heading neumorphic bordered-text" role="tab" id="heading3">
										<h4 class="accordion-title font-size-18 lh-2">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse3-5c58030f4609d" aria-expanded="false" aria-controls="collapse3-5c58030f4609d">
What's it like to work with OAKWAVE?												<span class="accordion-expander">
													<i class="fas fa-angle-down"></i>
													<i class="fas fa-angle-up"></i>
												</span>
											</a>
										</h4>
									</div><!-- /.accordion-headeing -->
									
									<div id="collapse3-5c58030f4609d" class="accordion-collapse collapse" role="tabpanel" aria-labelledby="heading3">
							
										<div class="accordion-content">
											<p class="text-white white-text">Our typical process kicks-off when a client approaches us with a growth challenge or problem. They may not fully understand that problem, but they know they have one. After we get to know each other a bit, we typically engage one of two ways. With a strategy, we do a full audit and deep-dive into the challenge and create a roadmap for marketing success for the next three years. The alternative path is a fixed block of hours to be depleted at the client's leisure. We find that most of our clients are most successful by starting with a strategy and following-up with a block of hours to assist with strategic implementation. We even publish our pricing information here, in a very un-agency like move.</p>
										</div><!-- /accordion-content -->
										
									</div><!-- /accordion-collapse -->
									
								</div><!-- /.accordion-item -->
								
							</div><!-- /.accordion -->

						</div><!-- /.col-lg-4 -->

						<div class="lqd-column col-lg-5">

							<div class="liquid-img-group-container stretch-to-right">
								<div class="liquid-img-group-inner">
									<div class="liquid-img-group-single liquid-img-group-browser" data-shadow-style="4" data-inview="true" data-animate-shadow="true" data-reveal="true" data-reveal-options='{"direction":"lr"}'>
										<span class="liquid-img-group-url">
											<!--<div class="liquid-img-group-content content-floated-mid-left">
												<a href="https://www.youtube.com/watch?v=JN-suUcRdqQ" class="btn btn-naked text-uppercase btn-gradient fresco btn-icon-block btn-icon-top btn-icon-xlg btn-icon-circle btn-icon-solid font-size-13 text-dark">
													<span>
														<span class="btn-txt">See how it works</span>
														<span class="btn-icon bg-gradient-secondary-lr font-size-24"><i class="fa fa-play"></i></span>
													</span>
												</a>
											</div>--><!-- /.liquid-img-group-content -->
											
											<picture>
  <source srcset="{{asset "img/renderings/shark.webp"}}" type="image/webp">
  <img  class="img-fluid metalpurple" src="{{asset "img/renderings/shark.png"}}" alt="OAKwave marketing strategy">
									</div><!-- /.liquid-img-group-single -->
								</div><!-- /.liquid-img-group-inner -->
							</div><!-- /.liquid-img-group-container -->

						</div><!-- /.col-lg-6 col-lg-offset-2 -->

					</div><!-- /.row -->
				</div><!-- /.container -->

			</section>

			