	<section id="about" class="pt-10 vc_row pt-70 pb-70 text-white bg-dark">
			<div class="container">

				<div class="row">

					<div class="lqd-column col-md-3 col-md-offset-1">

						<h6 class="mt-0 font-size-20 text-uppercase font-weight-bold text-secondary">What We're Good At</h6>
<br /><br />
					</div><!-- /.col-md-3 col-md-offset-1 -->

					<div class="lqd-column col-md-7">

						<div class="row">

							<div
								class="lqd-column col-sm-6"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":30,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

								<h4 class="mt-0 mb-1">Marketing Strategy</h4>
								<p class="mt-0 mb-3">The Churchills of marketing</p>

								<h4 class="mt-0 mb-1">Content</h4>
								<p class="mb-3">The warriors of wordplay</p>

								<h4 class="mt-0 mb-1">Growth Strategy</h4>
								<p class="mb-3">The harbingers of new business life</p>

							</div><!-- /.col-sm-6 -->

							<div
								class="lqd-column col-sm-6"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":30,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

								<h4 class="mt-0 mb-1">Sales enablement</h4>
								<p class="mb-3">The Glennngarry Glenn Ross cheerleaders</p>

								<h4 class="mt-0 mb-1">Branding</h4>
								<p class="mb-3">The artisans of market perception</p>

								<h4 class="mt-0 mb-1">Outsourced CMO</h4>
								<p class="mb-3">The veterans of marketing decision-making</p>

							</div><!-- /.col-sm-6 -->

						</div><!-- /.row -->

					</div><!-- /.col-md-7 -->
					</div></section>


		<section id="about" class="vc_row pt-70 pb-70 bg-dark">
			<div class="container">

				<div class="row">


					<div class="lqd-column col-md-3 col-md-offset-1">

						<h6 class="mt-0 font-size-20 text-uppercase font-weight-bold text-secondary text-white white-text">What We're Bad At</h6>
<br /><br />

					</div><!-- /.col-md-3 col-md-offset-1 -->

					<div class="lqd-column col-md-7">

						<div class="row">

							<div
								class="lqd-column col-sm-6 text-white"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":30,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

								<p class="text-fade-white-04 mb-3">Being marketing "order-takers"</p>
								<p class="text-fade-white-04 mb-3">Working with companies that want to maintain the status quo</p>
								<p class="text-fade-white-04 mb-3">Doing "social media"</p>
								<p class="text-fade-white-04 mb-3">Good "work-life" balance</p>
								<p class="text-fade-white-04 mb-3">Small talk</p>
							</div><!-- /.col-sm-6 -->

							<div
								class="lqd-column col-sm-6 text-white"
								data-custom-animations="true"
								data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":30,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

								<p class="text-fade-white-04 mb-3">General sensitivity to feelings</p>

								<p class="text-fade-white-04 mb-3">Keeping our mouths shut/piping down</p>

								<p class="text-fade-white-04 mb-3">Kissing ass</p>

							</div><!-- /.col-sm-6 -->

						</div><!-- /.row -->

				</div><!-- /.row -->
<!--
				<div class="row">

					<div class="lqd-column col-md-3 col-md-offset-1">

						<h6 class="mt-0 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">Press</h6>

					</div>--><!-- /.col-md-3 col-md-offset-1

					<div
						class="lqd-column col-md-7"
						data-custom-animations="true"
						data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":20,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

						<ul class="lqd-custom-menu reset-ul inline-nav">
							<li class="ml-0"><a href="#">Cancity,</a></li>
							<li class="ml-0"><a href="#">Treequote,</a></li>
							<li class="ml-0"><a href="#">Iselectrics,</a></li>
							<li class="ml-0"><a href="#">Plusstrip,</a></li>
							<li class="ml-0"><a href="#">Toughzap,</a></li>
							<li class="ml-0"><a href="#">Codehow,</a></li>
							<li class="ml-0"><a href="#">Zotware,</a></li>
							<li class="ml-0"><a href="#">Statholdings,</a></li>
						</ul>

					</div>--><!-- /.col-md-7 -->

			<!--	</div> /.row -->

			</div><!-- /.container -->
		</section>
