<a name="Section-2"></a>		
	<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">


					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-12">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
										
								
								{{> "layout/dynamic-shape"}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div>
										
										
								
<picture>
  <source srcset="{{asset "img/renderings/bobtheblobpartdeux.webp"}}" type="image/webp">
  <img width="700"  class="img-fluid metalpurple" src="{{asset "img/renderings/bobtheblobpartdeux.png"}}" alt="OAKwave marketing strategy">
</picture>	
									</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
									<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 500, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">You've been keeping your feelings <span class="purplish" style="color: #b8a2e3">all bottled up</span> again, haven't you?</h2><br />
										
											<p
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											><br />We get it.  You just want a solution that: </p>
											</p>
											
											
											<p
												data-split-text="false"
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 300, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>

<i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i>&nbsp;&nbsp;</span>grows your business, <i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp;&nbsp;aligns with where you're going, <i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp;&nbsp;doesn't cost more than it makes you, and <i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp;&nbsp;doesn't give you more headaches.									
			</p>
			
<a href="#Section-3" class="neubutton alt">
												
													&nbsp; Show me more <i class="fas fa-arrow-circle-right"></i>
												</span></a>
		
										

<a href="https://www.oakwave.com/about" class="neubutton alt">
											
													&nbsp; Skip this overview <i class="fas fa-arrow-circle-right"></i>
												</span></a>
										
											
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>
				
				
					