	<a name="Section-1">
		
	</a><section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">


					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-12">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
										
								
								{{> "layout/dynamic-shape"}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div>
										
								
<picture>
  <source srcset="{{asset "img/renderings/cthulu.webp"}}" type="image/webp">
  <img  width="700" class="img-fluid metalpurple" src="{{asset "img/renderings/cthulu.png"}}" alt="OAKwave marketing strategy">
</picture>	
										</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
									<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 500, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">We <span class="purplish" style="color: #b8a2e3">need</span> to talk.</h2>
										<br />	<p class="less-room"
											style="font-family: 'Raleway';"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>It's about your marketing and sales strategy again... It's been... underwhelming. </p>
	<p class="less-room d-sm-none d-md-block">		
	
<a href="#Section-2" class="neubutton alt">
												<span>
												&nbsp; Your curiosity compels you <i class="fas fa-arrow-circle-right"></i></span>
												</a>
		
										

<a href="https://www.oakwave.com/about" class="neubutton alt">
											<span>
											&nbsp; Skip this overview <i class="fas fa-arrow-circle-right"></i>
												</span></a></p>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>