	<a name="Section-4"></a>		
	<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">


					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-12">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
										
								
								{{> "layout/dynamic-shape"}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div>
										
										
								
<picture>
  <source srcset="{{asset "img/renderings/mycutie.webp"}}" type="image/webp">
  <img width="400"  class="img-fluid" style="max-width: 60%;" src="{{asset "img/renderings/mycutie.png"}}" alt="OAKwave marketing strategy">
</picture>	
									</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
									<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 500, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">Facts</h2><br />
										
											<p
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											><i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i> &nbsp; &nbsp; Hands down, we are the most <span style="color: #b8a2e3;">resourceful, creative, problem-solving marketing geniuses</span> you will ever find. </p>
											
											
											<p
												data-split-text="false"
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 300, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
<i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i> &nbsp; &nbsp; We’re <span style="color: #b8a2e3;">really, really good at campaign concepts, branding, content, and strategy</span>... and really, really bad at corporate frills, small talk, and sending Christmas cards.</p>

<a href="#Section-5" class="neubutton alt">
											
										&nbsp; Show me more <i class="fas fa-arrow-circle-right"></i>
											</a>
		
<a href="https://www.oakwave.com/about" class="neubutton alt">
											
												&nbsp; Skip this overview <i class="fas fa-arrow-circle-right"></i>
												</a>
										
											
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>
				
				
				