<a name="Section-5"></a>	<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">


					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-12">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
										
								
								{{> "layout/dynamic-shape"}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div>
										
								
<picture>
  <source srcset="{{asset "img/renderings/dragon.webp"}}" type="image/webp">
  <img width="700" class="img-fluid metalpurple" src="{{asset "img/renderings/dragon.png"}}" alt="OAKwave marketing strategy">
</picture>	
											</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
									<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 500, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">Facts:</h2><br />
											
											
											<p class="less-room"
												data-split-text="false"
												data-split-options='{ "type": "none" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 2, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											><i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp; &nbsp;We bill on projects, not retainers, because retainers only benefit the agency.</p>
											
											<p class="less-room"
												data-split-text="false"
												data-split-options='{ "type": "none" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 3, "delay": 3, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												<i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp; &nbsp;<span syle="color: #fff;"> We're marketers, strategists, workhorses, consultants, and most likely the last folks standing in a zombie apocalypse.</span></p>
													<p class="less-room"
												data-split-text="false"
												data-split-options='{ "type": "none" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 3, "delay": 3, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												<i class="fad fa-alien-monster" style="color: #b8a2e3; --fa-secondary-opacity: 0.5;"></i></span>&nbsp; &nbsp;<span syle="color: #fff;">We play hard, we shoot straight, we move fast, and we're loyal to our own.</span>
												
							</p>
									
											
											
											<!--<p class="less-room">And here's some more info about how we do <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">content, branding, campaigns</a>, or <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">strategy</a>.  <br />-->
		
<a href="https://www.oakwave.com/about" class="neubutton alt">
										
										&nbsp; Show me more <i class="fas fa-arrow-circle-right"></i>
								</a>
		
										
<a href="https://www.oakwave.com/schedule" class="neubutton alt">
										
												&nbsp; Schedule a call <i class="fas fa-arrow-circle-right"></i>
										</a>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>
