	<a name="Section-3"></a>
	<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">


					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-12">

								<div class="lqd-promo-wrap lqd-promo text-white">
									<div class="lqd-promo-inner">
										
								
								{{> "layout/dynamic-shape"}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div>
										
										
								
<picture>
  <source srcset="{{asset "img/ducky3.webp"}}" type="image/webp">
  <img width="700" class="img-fluid" src="{{asset "img/ducky3.png"}}" alt="OAKwave marketing strategy">
</picture>	
									</div><!-- /.lqd-promo-img-inner -->
										</div><!-- /.lqd-promo-img -->
								
										
									<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 500, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white font-smallish"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 500, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large">We help businesses <br /><span class="purplish" style="color: #b8a2e3">quit duckin' around</span><br /> with marketing.</h2><br />
											
												<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											>Your revenue is the only KPI that matters.  Everything else is just bullshit noise.</p><br />
											
											
											
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 300, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												We believe in breathing new life, fresh perspectives, and genuine solutions into broken marketing and sales. <!-- We could make a site that says all the usual agency s@#$, but you don’t have time for that and neither do we. --> </p>
									
	
<a href="#Section-4" class="neubutton alt">
											&nbsp; Show me more <i class="fas fa-arrow-circle-right"></i></a>
		
										

<a href="https://www.oakwave.com/about" class="neubutton alt">
											&nbsp; Skip this overview <i class="fas fa-arrow-circle-right"></i>
												</a>
							</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>