<<<<<<< HEAD
.overflow-hidden {
    overflow: hidden;
}

#preloader {
    position: fixed;
    z-index: 999999;
    display: flex;
    background: #121212;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

.preloader-wave:before, .preloader-wave:after {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: '';
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
    border-radius: 50%;
    background: #6c5ba7;
}

.preloader-wave:after {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}



html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #121212;
}

a:active, a:focus, input, select, textarea {
    outline: none !important;
}

img {
    max-width: 100%;
}

a, .container {
    text-decoration: none !important;
    transition: all 0.5s;
}

.btn, button {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:focus, button:focus {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}



.go-top {
    display: none;
}

.go-top #top {
    background: rgba(255, 255, 255, 0.1);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 911;
    cursor: pointer;
}

.go-top #top:hover {
    background-color: #6c5ba7;
}

.rounded-15 {
    border-radius: 15px !important;
}

.rounded-12 {
    border-radius: 12px !important;
}

.rounded-50 {
    border-radius: 50px !important;
}

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.flex-1 {
    flex: 1 !important;
}

.border, .border-top, .border-right, .border-bottom, .border-left {
    border-color: #2b333a !important;
}


=======
::selection {
    color: $chosenone;
    background: #212121;
    }
  body {
    min-height: 100%;
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $light-text-on-dark-bg;
    font-family: 'Josefin Sans';
    font-weight: 100;
    }
    strong {
        font-weight: 300;

    }

    h1, h2, h3, h4, h5, h6
    {
        font-weight: 100;
        text-transform: normal;
        font-family: 'Raleway';
    }

    .text-center {
        text-align: center;

    }

    p.fancy {
        padding: 20px;
    }

    .no-underline {
        text-decoration: none !important;
    }
>>>>>>> f39daca1d4e9ed3fa718e495b1d565189a228f23
