@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Oswald|Muli:300,400,600,700+Display");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Barlow:300,400,500,600,700|Roboto:300,400,500,700|Lato:300,400,700|Righteous|Lora:400,400i");

@font-face {
    font-family: 'SignPainter';
    src: url("../fonts/SignPainter-HouseScript.eot");
    src: url("../fonts/SignPainter-HouseScript.eot?#iefix") format("embedded-opentype"), url("../fonts/SignPainter-HouseScript.woff2") format("woff2"), url("../fonts/SignPainter-HouseScript.woff") format("woff"), url("../fonts/SignPainter-HouseScript.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gasalt';
    src: url("../fonts/Gasalt-Black.eot");
    src: url("../fonts/Gasalt-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gasalt-Black.woff2") format("woff2"), url("../fonts/Gasalt-Black.woff") format("woff"), url("../fonts/Gasalt-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gasalt';
    src: url("../fonts/Gasalt-Regular.eot");
    src: url("../fonts/Gasalt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gasalt-Regular.woff2") format("woff2"), url("../fonts/Gasalt-Regular.woff") format("woff"), url("../fonts/Gasalt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AviatorSG';
    src: url("../fonts/");
    src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/AviatorSG-Light.woff2") format("woff2"), url("../fonts/AviatorSG-Light.woff") format("woff"), url("../fonts/AviatorSG-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}