
$bg-gradient: 333.76deg, #26272B 22.72%, #34393F 89.31%;
$light-text-on-dark-bg: #fff;
$purple: #6c5ba7;
$chosenone: $purple;
$bold: 300;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Josefin+Sans:wght@300&display=swap');
$darkchosenone: darken(#6c5ba7, 10%);


$white: #ffffff;

.white {
    color: $white;
}

@import "mixin";
@import "nav";
@import "base";
@import "neu";
@import "cards";
@import "neucards";
@import "icons";



