	<section
			class="vc_row fullheight d-flex flex-wrap align-items-center bg-cover bg-center py-7 mb-100"
			style="background-image: url(./assets/demo/bg/bg-7.jpg);"
		>

			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-8" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1400","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":65,"rotateZ":3,"opacity":0},"animations":{"translateY":0,"rotateZ":0,"opacity":1}}'>

						<h6 class="text-white font-size-12 text-uppercase ltr-sp-2">Introducing AVE</h6>
						<h2
							class="text-white mt-4 pr-7"
							data-fittext="true"
							data-fittext-options='{ "compressor":0.75,"maxFontSize": 66,"minFontSize": 48 }'
							data-split-text="true"
							data-split-options='{"type":"lines"}'
						>Total design freedom <span class="text-underline">for everyone.</span></h2>

						<div
							class="row d-flex flex-wrap align-items-center"
							data-custom-animations="true"
							data-ca-options='{"triggerHandler":"inview","animationTarget":".lqd-column","duration":"1800","startDelay":"500","delay":"180","easing":"easeOutQuint","initValues":{"translateX":-45,"rotateZ":1,"opacity":0},"animations":{"translateX":0,"rotateZ":0,"opacity":1}}'>

							<div class="lqd-column col-md-2 mb-5 mb-md-0">

								<a href="https://www.youtube.com/watch?v=LjaKHqDbzSA" class="btn btn-naked fresco btn-icon-block btn-icon-top btn-icon-xxlg btn-icon-circle btn-icon-solid btn-icon-ripple">
									<span>
										<span class="btn-icon font-size-6"><i class="fa fa-play"></i></span>
									</span>
								</a>

							</div><!-- /.lqd-column col-md-2 -->

							<div class="lqd-column col-md-10 pr-md-5">

								<p class="font-size-20 lh-16 mb-0 text-white opacity-08">Forget about design limits! Build and customize your site visually. It’s fun, fast and super-easy!</p>

							</div><!-- /.lqd-column col-md-10 -->

						</div><!-- /.row -->

					</div><!-- /.col-md-8 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
			
		</section>