<footer class="pt-50 main-footer bg-cover bg-center" data-sticky-footer="false" style="background: url({{asset "img/bgfull.png"}})">
    <section>
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center pb-70 ">
                <div class="lqd-column col-md-8">
                    <h2 class="text-white  mt-0 mb-md-0">Let’s tame your marketing monsters.</h2>
                </div>
                <!-- /.lqd-column .col-md-8 -->
                <div class="lqd-column col-md-4 text-md-right">
                    <a href="https://www.oakwave.com/schedule" class="neubutton alt btn text-uppercase btn-xsm  border-thick font-size-20 lh-165 ltr-sp-01 text-white px-3 circle" data-localscroll="true" data-localscroll-options='{"scrollBelowSection": true}'>
                        <span>
                            <span class="btn-txt">Schedule a consultation</span>
                            <span class="btn-icon ml-3">
                                <i class="icon-arrow-right-material"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- /.lqd-column col-md-4 -->
            </div>
            <!-- /.row -->
      
            <div class="row d-flex flex-wrap align-items-center pt-50 pb-45">

                <div class="lqd-column col-sm-2 mb-4 mb-sm-0">

                    <figure>
                        <img src="{{asset "img/logosfinal/closelogo-symbol-purple-white.svg"}}" width="150" alt="Ave"></figure>

                    </div>
                    <!-- /.lqd-column col-sm-2 -->

                    <div class="lqd-column col-sm-7 mb-4 mb-sm-0">

                        <ul class="lqd-custom-menu reset-ul inline-nav h3 font-size-20 text-uppercase ltr-sp-1 text-white">
                            <li>
                                <a class="text-white" href="https://www.oakwave.com">Home</a>
                            </li>
                            <li>
                                <a class="text-white" href="https://www.oakwave.com/about">About</a>
                            </li>
                            <li>
                                <a  class="text-white" href="https://www.oakwave.com/blog">Blog</a>
                            </li>
                            <li>
                                <a  class="text-white" href="https://www.oakwave.com/contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.lqd-column col-sm-7 -->

                    <div class="lqd-column col-sm-3 text-sm-right mb-4 mb-sm-0 text-white">

                        {{> "brand/social-icons"}}
                    </div>
                    <!-- /.lqd-column col-sm-3 -->

                </div>
                <!-- /.row pt-50 pb-45 -->

            </div>
            <!-- /.container -->

        </section>

        <section class="bg-woodsmoke pt-10 pb-10 font-size-12 text-uppercase ltr-sp-1">

            <div class="container">
                <div class="row">

                    <div class="lqd-column col-sm-6">

                        <p class="font-size-12 mb-1 mb-sm-0">© 2020 OAKWAVE. All rights reserved.</p>

                    </div>
                    <!-- /.lqd-column col-sm-6 -->

                    <div class="lqd-column col-sm-6 text-sm-right">

                        <ul class="lqd-custom-menu reset-ul inline-nav">
                            <li>
                                <a href="https://www.oakwave.com/terms">Privacy Notice</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.lqd-column col-sm-6 text-sm-right -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->

        </section>
        <!-- /.bg-woodsmoke pt-10 pb-5 -->

    </footer>
    <!-- /.main-footer -->
