<section class="vc_row pt-100 pb-60 bg-dark">
				<div class="container bg-dark">
					<div class="row bg-dark">

						<div class="lqd-column col-xs-12 bg-dark">

							<div class="carousel-container carousel-nav-floated carousel-nav-vertical carousel-nav-left carousel-nav-circle carousel-nav-solid carousel-nav-lg carousel-nav-shadowed ld-lp-carousel-filterable" data-filterable-carousel="true">
								
									<div class="row">
										
										<div class="lqd-column col-lg-5 bg-dark">
											
											<header class="fancy-title mb-40">
												<h6 class="font-size-13 text-uppercase ltr-sp-05">Our Blog</h6>
											<!--	<h2 class="mt-4">Interesting articles updated <span class="text-secondary">daily</span></h2>
											--></header>
											
											<ul class="filter-list filter-list-style-1 text-uppercase ltr-sp-1" id="carousel-filter-1">
												{{#post}}

    {{#get 'tags' limit='all' include='tags, count.posts' order='count.posts desc'}}
    <li class="active" data-filter="*"><span>All Tags</span></li>
    {{#foreach tags}}
    <li data-filter=".{{name}}"><span>{{name}}</span>({{ count.posts }})-</li>
    {{/foreach}}
    {{/get}}
{{/post}}

											</ul>
											
											<a href="#" class="btn btn-sm btn-solid btn-gradient circle text-uppercase wide ld-lp-carousel-filterable-btn">
												<span>
													<span class="btn-gradient-bg"></span>
													<span class="btn-txt">See all blog</span>
													<span class="btn-gradient-bg btn-gradient-bg-hover"></span>
												</span>
											</a>
											
										</div><!-- /.col-lg-4 -->
										
										<div class="lqd-column col-lg-7">
											
											<div class="carousel-items row" data-lqd-flickity='{ "filters": "#carousel-filter-1", "prevNextButtons": true, "navArrow": 1, "fullwidthSide": true, "navOffsets": { "nav": {"left": -10, "top": 200} } }'>
												
												<div class="carousel-item col-sm-12 beauty business">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-4.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Beauty</a></li>
																<li><a href="#">Business</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
												<div class="carousel-item col-sm-12 travel">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-5.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Travel</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
												<div class="carousel-item col-sm-12 lifestyle">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-6.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Lifestyle</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
												<div class="carousel-item col-sm-12 travel business">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-7.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Travel</a></li>
																<li><a href="#">Business</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
												<div class="carousel-item col-sm-12 something-else">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-4.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Something Else</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
												<div class="carousel-item col-sm-12 lifestyle beauty">
													
													<article class="liquid-lp">
														
														<figure class="liquid-lp-media">
															<a href="#">
																<img src="./assets/demo/latest-posts/lp-5.jpg" alt="Latest Post">
															</a>
														</figure>
														
														<header class="liquid-lp-header">
															<h2 class="liquid-lp-title h3"><a href="#">Choosing a static caravan</a></h2>
														</header>
														
														<div class="liquid-lp-excerpt">
															<p>Namaskar, welcome to Incredible India, where culture echoes, tradition speaks, beauty enthralls and diversity delights.</p>
														</div><!-- /.latest-post-excerptc -->
														
														<footer class="liquid-lp-footer">
															
															<ul class="liquid-lp-category bordered circle">
																<li><a href="#">Lifestyle</a></li>
																<li><a href="#">Beauty</a></li>
															</ul>
															
														</footer>
														
													</article>
													
												</div><!-- /.carousel-item col-sm-12 -->
												
											</div><!-- /.carousel-items -->
											
										</div><!-- /.col-lg-7 -->
										
									</div><!-- /.row -->
									
								</div><!-- /.carousel-container -->

						</div><!-- /.col-xs-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

