   <section class="bg-center vc_row text-white bg-cover " style="background-image: url('{{asset "img/middie.svg"}}'); background-repeat: no-repeat; background-color: #1d1d1d; z-index: 99; position: absolute;  background-size: cover; width: 100%;  height: 200px;" data-parallax="true" data-parallax-options='{ "parallaxBG": false }'>
</section>
                