<section class="vc_row pt-60 pb-60 mx-md-5 mt-65" id="case-studies">

			<div class="liquid-row-overlay bg-gradient-cream"></div>

			<div class="container">

				<div class="row">

					<div class="lqd-column col-md-10 col-md-offset-1 text-center mb-4" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1800","delay":"180","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":35,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>

						<h6 class="mb-3 circle d-inline-flex bg-white font-size-12 text-uppercase font-weight-semibold ltr-sp-2 py-3 px-4 box-shadow-1">Save Money $</h6>
						<h2 class="px-md-5 mx-md-5 mt-4" data-split-text="true" data-split-options='{"type":"lines"}'>Buy Ave and get access to premium and exclusive plugins for free.</h2>

					</div><!-- /.lqd-column col-md-10 col-md-offset-1 -->

				</div><!-- /.row -->

				<div class="row">

					<div class="lqd-column col-md-4">

						<div class="fancy-box border-radius-3 scheme-light fancy-box-overlay tall">
							<div class="cb-img-container border-radius-3">
								<figure class="fancy-box-image border-radius-3" data-responsive-bg="true" data-liquid-blur="true" data-blur-options='{"imgSrc":"backgroundImage","radius":15,"blurHandlerOn":"static"}'>
									<img class="invisible" src="./assets/demo/misc/fb-1.jpg" alt="Automatic Updates" />
								</figure>
							</div><!-- /.cb-img-container -->
							<span class="cb-overlay"></span>
							<div class="fancy-box-contents border-radius-3">
								<div class="fancy-box-header">
									<span class="cb-subtitle text-uppercase ltr-sp-2 border-radius-3">Subtitle</span>
									<h3 class="font-weight-semibold">Automatic Updates</h3>
									<p class="font-size-16 opacity-06">Import a pre-designed template and change the content.</p>
								</div><!-- /.fancy-box-header -->
							</div><!-- /.fancy-box-contents -->
						</div><!-- /.fancy-box -->
						
					</div><!-- /.lqd-column col-md-4 -->

					<div class="lqd-column col-md-4">

						<div class="fancy-box border-radius-3 scheme-light fancy-box-overlay tall">
							<div class="cb-img-container border-radius-3">
								<figure class="fancy-box-image border-radius-3" data-responsive-bg="true" data-liquid-blur="true" data-blur-options='{"imgSrc":"backgroundImage","radius":15,"blurHandlerOn":"static"}'>
									<img class="invisible" src="./assets/demo/misc/fb-2.jpg" alt="Flexible Options" />
								</figure>
							</div><!-- /.cb-img-container -->
							<span class="cb-overlay"></span>
							<div class="fancy-box-contents border-radius-3">
								<div class="fancy-box-header">
									<span class="cb-subtitle text-uppercase ltr-sp-2 border-radius-3">Subtitle</span>
									<h3 class="font-weight-semibold">Flexible Options</h3>
									<p class="font-size-16 opacity-06">Import a pre-designed template and change the content.</p>
								</div><!-- /.fancy-box-header -->
							</div><!-- /.fancy-box-contents -->
						</div><!-- /.fancy-box -->

					</div><!-- /.lqd-column col-md-4 -->

					<div class="lqd-column col-md-4">

						<div class="fancy-box border-radius-3 scheme-light fancy-box-overlay tall">
							<div class="cb-img-container border-radius-3">
								<figure class="fancy-box-image border-radius-3" data-responsive-bg="true" data-liquid-blur="true" data-blur-options='{"imgSrc":"backgroundImage","radius":15,"blurHandlerOn":"static"}'>
									<img class="invisible" src="./assets/demo/misc/fb-3.jpg" alt="Lifetime Use" />
								</figure>
							</div><!-- /.cb-img-container -->
							<span class="cb-overlay"></span>
							<div class="fancy-box-contents border-radius-3">
								<div class="fancy-box-header">
									<span class="cb-subtitle text-uppercase ltr-sp-2 border-radius-3">Subtitle</span>
									<h3 class="font-weight-semibold">Lifetime Use</h3>
									<p class="font-size-16 opacity-06">Import a pre-designed template and change the content.</p>
								</div><!-- /.fancy-box-header -->
							</div><!-- /.fancy-box-contents -->
						</div><!-- /.fancy-box -->

					</div><!-- /.lqd-column col-md-4 -->

				</div><!-- /.row -->

			</div><!-- /.container -->
		</section>
