{% from "partials/card.njk" import card %}
    <!-- ================== /All News Area ======================= -->


     
    <!-- ================== /Latest News Area ======================= -->
    <div class="latest-news-sec">
        <div class="container">
            <div class="section-title text-right mb-4">
                <h4>Latest News</h4>
            </div>
            <div class="latest-news">
                <div class="">
                    <div class="owl-carousel ln-carousel">

                         {% for post in posts.slice(3,10) %}
   <div class="ln-card">
            {{ card(post) }}
</div>
        {% endfor %}

                     <!--   <div class="ln-card">
                            <a href="" class="card-img"><img src="assets/img/news/5.jpg" alt="News Image"></a>
                            <div class="card-content">
                                <div class="top-author-meta">
                                    <span><a href="#">Design</a> , <a href="#">Culture</a></span>
                                    <span>/</span>
                                    <span>13 July,  2018</span>
                                </div>
                                <h6><a href="" class="card-title">Descriptions than no a return office they sick</a></h6>
                            </div>
                        </div>-->
                      
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== /Latest News Area ======================= -->

