<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-left">
            {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item neubutton" href="{{ item.url }}">
                 <div class="interior-bar-holder"><div class="interior-bar"></div></div>   <span class="navtext no-underrline">{{ item.label }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    
</nav>