 <!-- ================== Top Author Area ======================= -->
    <div class="latest-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h4>TOP POST FROM BEST AUTHORS</h4>
                    </div>
                </div>
            </div>
            <div class="top-author-slider">
                <div class="ta-carousel owl-carousel">
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">Zabir Zunayed</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-1.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                            <h3><a href="#">Descriptions than no a return office</a></h3>
                        </div>
                    </div>
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">Coyes Mills</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-2.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                            <h3><a href="#">windshield going avoid that guard</a></h3>
                        </div>
                    </div>
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">Nabila Tusar</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-3.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                        </div>
                    </div>
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">James Bond</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-4.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                        </div>
                    </div>
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">Kala Sabbir</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-5.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                        </div>
                    </div>
                    <!-- Single author -->
                    <div class="single-top-author">
                        <h4><a href="#">Nobin Moris</a></h4>
                        <div class="t-author-image">
                            <img src="assets/img/authors/author-6.jpg" alt="author image">
                        </div>
                        <div class="top-author-content">
                            <p>Articles:</p>
                            <h3><a href="#">The to dreams woman's performed name economic agency</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================== /Top Author Area ======================= -->